body {
	font-family: "微软雅黑", "microsoft yahei", "microsoft sans serif";
	background-color: #fff
}
.blank {
	width: 100%;
	height: 5px;
	background-color: #F0F2F1;
}
.mui-bar {
	height: 39px;
	background-color: #fff;
	border-bottom: 1px solid #d9d9d9;
}

.mui-active {
	color: #df1a17!important;
}

.mui-bar-nav {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.mui-title {
	line-height: 39px;
	color: #333;
}

.mui-content {
	background-color: #fff;
	padding-top: 39px!important;
}
.active {
	color: #df1a17;
}
.mui-active {
	color: #df1a17;
}
.mui-checkbox input[type=checkbox]:checked:before{
	color: #df1a17;
}
.mui-radio input[type=radio]:checked:before{
	color: #df1a17;
}
#nodata {
display: none;
	height: 100%;
	width: 100%;
	position: absolute;
	margin: 0 auto;
	text-align: center;
	top: 0;
	left: 0;
	font-size: 17px;
	color: #b2b2b2;
	background-color: #f0f2f1;
	z-index: 1;
}

#nodata span {
	position: absolute;
	text-align: center;
	top: 50%;
	left: 50%;
	margin-left: -17px;
}
#load {
	display: none;
}

.loading {
	position: fixed;
	height: 100%;
	width: 100%;
	background-color: #000;
	z-index: 9999999;
	filter: alpha(opacity=20);
	-moz-opacity: 0.2;
	opacity: 0.2;
	text-align: center;
}

.loading-text {
	position: fixed;
	top: 50%;
	left: 50%;
	background-color: #EEEEEE;
	height: 50px;
	width: 200px;
	z-index: 99999999;
	margin-top: -25px;
	margin-left: -100px;
	line-height: 50px;
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	opacity: 1;
	font-size: 13px;
}

.loading-text img {
	margin-left: 20px;
	vertical-align: middle;
	margin-right: 5px;
}
.hidden{
	display: none;
}




@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.eot'); /* IE9*/
  src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont.woff') format('woff'), /* chrome, firefox */
  url('../fonts/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-zuojiantou:before { content: "\e600"; }
.icon-baocun:before { content: "\e611"; }
.icon-quxiao:before { content: "\e612"; }
.icon-icon1:before { content: "\e601"; }
.icon-icon2:before { content: "\e602"; }
.icon-icon3:before { content: "\e603"; }
.icon-icon4:before { content: "\e604"; }
.icon-weibolu:before { content: "\e605"; }
.icon-yugang:before { content: "\e606"; }
.icon-shuzhuo:before { content: "\e607"; }
.icon-chuang:before { content: "\e608"; }
.icon-shafa:before { content: "\e609"; }
.icon-tianjia:before { content: "\e60a"; }
.icon-fenxiang:before { content: "\e60b"; }
.icon-shoucang:before { content: "\e60d"; }
.icon-gengduo:before { content: "\e60e"; }
.icon-bianji:before { content: "\e615"; }
.icon-icon9:before { content: "\e60c"; }
.icon-shanchu:before { content: "\e623"; }
.icon-grxx:before { content: "\e60f"; }
.icon-kfzx:before { content: "\e616"; }
.icon-wdsc:before { content: "\e617"; }
.icon-gywm:before { content: "\e618"; }
.icon-zengjia_1:before { content: "\e610"; }
.icon-zengjia_2:before { content: "\e619"; }
.icon-wdsc2:before { content: "\e61a"; }
.icon-canting:before { content: "\e61b"; }
.icon-chair:before { content: "\e61c"; }
.icon-tea:before { content: "\e61d"; }
.icon-game:before { content: "\e61e"; }
.icon-icon6:before { content: "\e61f"; }
.icon-jiaru:before { content: "\e620"; }
.icon-zuojiantou2:before { content: "\e613"; }
.icon-gouwuche:before { content: "\e621"; }
.icon-dingwei:before { content: "\e614"; }
.icon-dingdan:before { content: "\e622"; }
