.close {
	position: fixed;
	top: 0px;
	right: 4px;
}

.title {
	text-align: center;
	margin-bottom: 10px;
	color: #666600;
	font-weight: bold;
}

.choose-address {
	margin: auto;
	text-align: center;
	width: 200px;
}

.mui-btn-block {
	padding: 0;
	font-size: 15px;
	color: #9A9A9A;
}

#tag-list {
	position: relative;
}

.tag-name {
	font-size: 15px;
	position: absolute;
	width: auto;
	left: 20px;
	font-weight: bold;
}

.tagtype {
	position: relative;
	height: 0px;
	border: 1px solid#eee;
}

.tags {
	position: absolute;
	left: 100px;
	padding: 10px 15px 15px 10px;
}

.tag {
	display: inline-block;
	font-size: 15px;
	border: 1px solid#eee;
	height: 30px;
	line-height: 30px;
	border-radius: 15px;
	padding: 0 8px;
	margin: 5px 5px;
}

.sortid {
	display: none;
}

#next-step {
	text-align: center;
	margin: 30px;
	color: #9A9A9A;
	font-size: 13px;
	border: 1px solid#eee;
	height: 35px;
	line-height: 35px;
	border-radius: 17px;
}

.background-gray {
	background-color: #EBEBEB;
}

.mui-action-back {
	color: #000;
}

.skip {
	font-size: 15px!important;
	line-height: 25px;
	color: #9A9A9A;
}

.mui-bar {
	border: none;
}

.title2 {
	font-size: 20px;
	text-align: center;
	color: #666600;
	font-weight: normal;
}

.circle {
	background-color: blanchedalmond;
	height: 100px;
	width: 100px;
	position: absolute;
	border-radius: 50px;
	line-height: 110px;
	text-align: center;
	top: 50%;
	left: 50%;
	color: #fff;
	font-weight: normal;
}

.style-list {
	position: relative;
	height: 400px;
	width: 100%;
}

.circle span {
	background: rgba(255, 255, 255, 0.6);
	height: 100px;
	width: 100px;
	display: block;
	-webkit-text-shadow: 0 0 10px #000;
	-moz-text-shadow: 0 0 10px #000;
	text-shadow: 0 0 10px #000;
}

.grid-1 {
	margin-top: -160px;
	margin-left: -105px;
	background-image: url(../images/match/地中海.jpg);
}

.grid-2 {
	margin-top: -160px;
	margin-left: 5px;
	background-image: url(../images/match/简约现代.jpg);
}

.grid-3 {
	margin-top: -50px;
	margin-left: -160px;
	background-image: url(../images/match/欧式.jpg);
}

.grid-4 {
	margin-top: -50px;
	margin-left: -50px;
	background-image: url(../images/match/中式.jpg);
}

.grid-5 {
	margin-top: -50px;
	margin-left: 60px;
	background-image: url(../images/match/美式田园.jpg);
}

.grid-6 {
	margin-top: 60px;
	margin-left: -105px;
	background-image: url(../images/match/美式.jpg);
}

.grid-7 {
	margin-top: 60px;
	margin-left: 5px;
	background-image: url(../images/match/新古典.jpg);
}

.colorselect {
	text-align: center;
}

.color {
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: red;
	margin: 10px;
	border-radius: 5px;
	line-height: 40px;
	text-align: center;
	font-size: 12px;
	color: #000;
}