body {
	font-size: 15px;
	color: #949494;
}

.name {
	margin-left: 10px;
}

.pri {
	margin-left: 10px;
	font-size: 13px;
}

.mui-btn-red {
	background-color: #c51919
}

.mui-btn-block {
	font-size: 12px;
	display: block;
	width: 90%;
	padding: 0;
	height: 35px;
	line-height: 35px;
	margin: 10px auto;
}

.goods {
	display: inline-block;
	text-align: center;
	line-height: 15px;
	margin-top: 20px;
}

.goods p {
	font-size: 12px;
}

.goods img {
	width: 100%;
	height: auto;
}

.line {
	height: 1px;
	width: 100%;
	background-color: #eee
}
.mui-bar .mui-icon{
	color: #000;
}
.mui-icon {
	color: #999;
}

.innerdiv {
	line-height: 0;
}

.innerdiv img {
	width: 100%;
	height: 100%;
}

.mui-control-content {
	padding: 10px 10px;
}

.title {
	height: 30px;
	width: 100%;
	line-height: 30px;
	text-align: center;
	border-bottom: 1px solid#949494;
}

.header {
	color: #343434;
}

.cont {
	height: 30px;
	width: 100%;
	font-size: 12px;
	line-height: 30px;
	text-align: center;
	border-bottom: 1px solid#949494;
}

.space-elems {
	width: 100%;
}

.space-elem {
	width: 50px;
	text-align: center;
	display: inline-block;
}

.space-elems i {
	line-height: 40px;
	font-size: 30px;
}

.space-elems p {
	font-size: 12px;
	text-align: center;
	line-height: 0;
}

.space-elems-inner {
	text-align: center;
	margin: 0 auto;
}

.divtitle {
	background-color: #f6f6f6;
	text-align: center;
	height: 25px;
	line-height: 25px;
}

.mui-preview-image.mui-fullscreen {
	position: fixed;
	z-index: 20;
	background-color: #000;
}

.mui-preview-header,
.mui-preview-footer {
	position: absolute;
	width: 100%;
	left: 0;
	z-index: 10;
}

.mui-preview-header {
	height: 44px;
	top: 0;
}

.mui-preview-footer {
	height: 50px;
	bottom: 0px;
}

.mui-control-item {
	font-size: 14px!important;
}

.mui-preview-header .mui-preview-indicator {
	display: block;
	line-height: 25px;
	color: #fff;
	text-align: center;
	margin: 15px auto 4;
	width: 70px;
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 12px;
	font-size: 16px;
}

.mui-preview-image {
	display: none;
	-webkit-animation-duration: 0.5s;
	animation-duration: 0.5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

.mui-preview-image.mui-preview-in {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
}

.mui-preview-image.mui-preview-out {
	background: none;
	-webkit-animation-name: fadeOut;
	animation-name: fadeOut;
}

.mui-preview-image.mui-preview-out .mui-preview-header,
.mui-preview-image.mui-preview-out .mui-preview-footer {
	display: none;
}

.mui-zoom-scroller {
	position: absolute;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	-webkit-backface-visibility: hidden;
}

.mui-zoom {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.mui-slider .mui-slider-group .mui-slider-item img {
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
}

.mui-android-4-1 .mui-slider .mui-slider-group .mui-slider-item img {
	width: 100%;
}

.mui-android-4-1 .mui-slider.mui-preview-image .mui-slider-group .mui-slider-item {
	display: inline-table;
}

.mui-android-4-1 .mui-slider.mui-preview-image .mui-zoom-scroller img {
	display: table-cell;
	vertical-align: middle;
}

.mui-preview-loading {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: none;
}

.mui-preview-loading.mui-active {
	display: block;
}

.mui-preview-loading .mui-spinner-white {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -25px;
	margin-top: -25px;
	height: 50px;
	width: 50px;
}

.mui-preview-image img.mui-transitioning {
	-webkit-transition: -webkit-transform 0.5s ease, opacity 0.5s ease;
	transition: transform 0.5s ease, opacity 0.5s ease;
}

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

p img {
	max-width: 100%;
	height: auto;
}


#catalog{
	position: fixed;
	bottom: 20px;
	left: 20px;
}
