<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
		<meta name="format-detection" content="telephone=no">
		<meta content="email=no" name="format-detection" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<script type="text/javascript" src="js/global.js"></script>
		<script type="text/javascript" src="js/app.js"></script>
		<script type="text/javascript" src="js/mui.min.js"></script>
		<script type="text/javascript" src="js/vue.js"></script>
		<script type="text/javascript" src="js/mui.zoom.js"></script>
		<script type="text/javascript" src="js/mui.previewimage.normaltype.js"></script>
		<link rel="stylesheet" href="css/mui.min.css" />
		<link rel="stylesheet" href="css/app.css" />
		<link rel="stylesheet" href="css/product.css" />

		<title>微软装</title>
	</head>

	<body onresize="javascript:adaptive();">
		<div id="mask"></div>
		<div id="load">
			<div class="loading"></div>
			<div class="loading-text"><img src="images/load.gif" width="25px">加载中，请稍候...</div>
		</div>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">编辑方案</h1>
		</header>
		<div id="custom">
			<div class="mui-content" id="简介">
				<div id="cover" class="innerdiv"><img src="images/default-1.png" v-bind:src="cover_t_img|picurl '/smart_matching/uploads/imgs/thumbs/' 's-'" data-preview-src="{{ cover_t_img|picurl '/smart_matching/uploads/imgs/' '' }}" data-preview-group="1" /></div>
				<div class="title">[{{name}}]</div>
				<div id="spaces" v-for="space in spaces">
					<div class="spaceid">{{space.space_id}}</div>
					<div class="spaceid">{{$index}}</div>
					<div>
						<div class="divtitle spacename">{{ space.name }}</div>
						<div class="innerdiv"><img class="coverimg" v-bind:src="space.cover_t_img|picurl '/smart_matching/uploads/imgs/thumbs/' 's-'" data-preview-src="{{ space.cover_t_img|picurl '/smart_matching/uploads/imgs/' '' }}" data-preview-group="1" /></div>
					</div>
					<div>
						<div class="divtitle">方案设计图</div>
						<div class="innerdiv"><img class="sjt" v-bind:src="space.design_t_img|picurl '/smart_matching/uploads/imgs/thumbs/' 's-'" data-preview-src="{{ space.design_t_img|picurl '/smart_matching/uploads/imgs/' '' }}" data-preview-group="1" /></div>
					</div>
					<div>
						<div class="divtitle">平面图</div>
						<div class="innerdiv"><img class="pmt" v-bind:src="space.planar_t_img|picurl '/smart_matching/uploads/imgs/thumbs/' 's-'" data-preview-src="{{ space.planar_t_img|picurl '/smart_matching/uploads/imgs/' '' }}" data-preview-group="1" /></div>
					</div>
					<div class="divtitle">配饰清单</div>
					<div class="goods" v-for="product in space.products">
						<div class="deleteproduct" data-id="{{$index}}"><img src="images/delete.png"></div>
						<img class="productsimgs" data-id="{{ product.product_id }}" v-bind:src="product.cover_t_img |picurl '/smart_matching/uploads/imgs/thumbs/' 's-'">
						<div class="productsids" style="display: none;">{{ product.product_id }}</div>
						<p>
							<span class="productsnames">{{ product.name }}</span>
							<br />
							<div class="mui-numbox" data-numbox-min='1'>
								<button class="mui-btn mui-btn-numbox-minus" type="button">-</button>
								<input class="mui-input-numbox" type="number" v-bind:value="product.product_num" v-model="product.product_num" onchange="contnum()" />
								<button class="mui-btn mui-btn-numbox-plus" type="button">+</button>
							</div>
						</p>
						<p><span class="productsunitprice">{{ product.price/100 }}</span>元</p>
						<div class="line"></div>
					</div>
					<div class="addgoods add" data-id="{{$index}}"><span class=" mui-icon mui-icon-plus"></span></div>
					<div class="line"></div>

				</div>
				<div class="cont">方案产品总数:<span id="allnum">0</span>&nbsp;方案总金额:<span id="allprice">{{amount/100}}</span>元</div>
			</div>
			<div class="footer save" onclick="addalltocart()"><i class="iconfont icon-buy"></i>保存方案</div>
		</div>

	</body>
	<script>
		if (!localStorage.temp) mui.back();
		var customscheme = JSON.parse(localStorage.temp);
		var jsonschemes;
		var spacedata;
		var topbarHeight = 39;
		mui.ready(function() {
			Vue.filter('picurl', function(value, url, picsize) {
				return serverurl + url + picsize + value
			})
			getspacedata();
			adaptive();
			mui.previewImage();
		})

		function getspacedata() {
			data = new Vue({
				el: '#custom',
				data: customscheme,
				compiled: function() {
					contnum();
					stopload();
					makecatalog();
					mui('.mui-numbox').numbox();
				}
			})
			delnull();
		}

		function contnum() {
			var iID = setTimeout(function() {
				var allnum = 0;
				var allprice = 0;
				for (var u = 0; u < customscheme.spaces.length; u++) {
					for (var v = 0; v < customscheme.spaces[u].products.length; v++) {
						allnum += parseInt(customscheme.spaces[u].products[v].product_num);
					}
				}
				for (var u = 0; u < customscheme.spaces.length; u++) {
					for (var v = 0; v < customscheme.spaces[u].products.length; v++) {
						allprice += parseInt(customscheme.spaces[u].products[v].product_num) * parseInt(customscheme.spaces[u].products[v].price);
					}
				}
				document.getElementById("allnum").innerHTML = allnum;
				customscheme.amount = allprice;
			}, 500);
		}
		mui('body').on('tap', '.deleteproduct', function() {
			productsortid = this.getAttribute('data-id');
			spacesort = parseInt(this.parentNode.parentNode.getElementsByClassName("spaceid")[1].innerHTML);
			var btnArray = ['是', '否'];
			mui.confirm('是否删除单品？', '微软装', btnArray, function(s) {
				if (!s.index) {
					customscheme.amount -= parseInt(customscheme.spaces[spacesort].products[productsortid].product_num * customscheme.spaces[spacesort].products[productsortid].price)
					customscheme.spaces[spacesort].products.splice(productsortid, 1)
					contnum();
					if (!customscheme.spaces[spacesort].products.length) customscheme.spaces.splice(spacesort, 1)
				} else {
					return;
				}
			})
			return;
		});

		function delnull() {
			coverimg = document.getElementsByClassName("coverimg");
			for (i = 0; i < coverimg.length; i++) {
				if ((coverimg[i].src).slice(-4) == "null" || (coverimg[i].src).slice(-2) == "s-") {
					todeldiv = coverimg[i].parentNode;
					todeldiv.parentNode.removeChild(todeldiv);
				}
			}
			pmt = document.getElementsByClassName("pmt");
			for (i = 0; i < pmt.length; i++) {
				if ((pmt[i].src).slice(-4) == "null" || (pmt[i].src).slice(-2) == "s-") {
					todeldiv = pmt[i].parentNode.parentNode;
					todeldiv.parentNode.removeChild(todeldiv);
				}
			}
			sjt = document.getElementsByClassName("sjt");
			for (i = 0; i < sjt.length; i++) {
				if ((sjt[i].src).slice(-4) == "null" || (sjt[i].src).slice(-2) == "s-") {
					todeldiv = sjt[i].parentNode.parentNode;
					todeldiv.parentNode.removeChild(todeldiv);
				}
			}
		}

		function adaptive() {
			cases = document.getElementsByClassName("innerdiv");
			goods = document.getElementsByClassName("goods");
			bodywideth = document.body.clientWidth;
			document.getElementsByClassName("mui-content")[0].style.width = bodywideth;
			for (i = 0; i < cases.length; i++) {
				cases[i].style.width = bodywideth + 'px';
				cases[i].style.height = bodywideth * 0.56 + 'px';
			}
			for (i = 0; i < goods.length; i++) {
				goods[i].style.width = bodywideth * 0.48 + 'px';
				goods[i].style.height = bodywideth * 0.48 + 'px';
				goods[i].getElementsByClassName("productsimgs")[0].style.height = bodywideth * 0.27 + 'px';
				if (i % 2) {
					goods[i].style.marginLeft = bodywideth * 0.02 + 'px';
				}
			}
			addgoods = document.getElementsByClassName("addgoods")
			for (i = 0; i < addgoods.length; i++) {
				addgoods[i].style.width = bodywideth * 0.48 + 'px';
				addgoods[i].style.height = bodywideth * 0.48 + 'px';
				addgoods[i].firstChild.style.fontSize = bodywideth * 0.32 + 'px';
				addgoods[i].firstChild.style.lineHeight = bodywideth * 0.48 + 'px';
			}
		}
		mui('body').on('tap', '.addgoods', function() {
			spacesortid = this.getAttribute('data-id');
			localStorage.temp = JSON.stringify(customscheme);
			mui.openWindow({
				url: "add-product.html?spacesortid=" + spacesortid,
				id: "add-product",
				show: {
					aniShow: 'zoom-fade-out',
					duration: 300
				}
			});
			return;
		});
		mui('body').on('tap', '.productsimgs', function() {
			productid = this.getAttribute('data-id');
			localStorage.temp = JSON.stringify(customscheme);
			mui.openWindow({
				url: "product.html?id=" + productid,
				id: "product",
				show: {
					aniShow: 'zoom-fade-out',
					duration: 300
				}
			});
			return;
		});
		var catalogarray = [];

		function makecatalog() {
			spacenames = document.getElementsByClassName("divtitle spacename");
			for (var i = 0; i < spacenames.length; i++) {
				searchresult = searchKeyWordAndMakeCatalog(spacenames[i].innerHTML);
				if (searchresult)(spacenames[i].innerHTML = searchresult, spacenames[i].id = searchresult, catalogarray.push(searchresult))
			}
		}

		function searchKeyWordAndMakeCatalog(title) {
			var keyword = [
				["客厅", "客厅"],
				["餐厅", "餐厅"],
				["卧室", "卧室"],
				["书房", "书房"],
				["次卧", "次卧"],
				["老人", "老人房"],
				["男孩", "男孩房"],
				["女孩", "女孩房"]
			];
			var temparray = title.split('');
			var words = [];
			for (var k = 0; k < temparray.length - 1; k++) {
				words.push(temparray[k] + temparray[k + 1])
			}
			for (var j = 0; j < keyword.length; j++) {
				if (~words.indexOf(keyword[j][0])) return keyword[j][1];
			}
			return false;
		}

		function addalltocart() {
			name = customscheme.name + '自定义方案';
			price = customscheme.amount / 100;
			pic = document.getElementById("cover").getElementsByTagName("img")[0].src;
			cart(3, customscheme.scheme_id, name, 1, price, pic, JSON.stringify(customscheme));
			localStorage.removeItem("temp");
			window.location.href = "cart.html";
		}
	</script>

</html>