<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
		<meta name="format-detection" content="telephone=no">
		<meta content="email=no" name="format-detection" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="css/mui.min.css" />
		<link rel="stylesheet" href="css/app.css" />
		<link rel="stylesheet" href="css/product.css" />

		<title>微软装</title>
	</head>

	<body onresize="javascript:adaptive();">
		<div id="mask"></div>
		<div id="load">
			<div class="loading"></div>
			<div class="loading-text"><img src="images/load.gif" width="25px">加载中，请稍候...</div>
		</div>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">编辑方案</h1>
		</header>
		<div id="custom">
			<div class="mui-content" id="简介">
				<div id="cover" class="innerdiv"><img src="images/default-1.png" v-bind:src="cover_t_img|picurl '/smart_matching/uploads/imgs/thumbs/' 's-'" data-preview-src="{{ cover_t_img|picurl '/smart_matching/uploads/imgs/' '' }}" data-preview-group="1" /></div>
				<div class="title">[{{name}}]</div>
				<div id="spaces" v-for="space in spaces">
					<div class="spaceid">{{space.id}}</div>
					<div class="spaceid">{{$index}}</div>
					<div>
						<div class="divtitle spacename">{{ space.name }}</div>
						<div class="innerdiv"><img class="coverimg" v-bind:src="space.cover_t_img|picurl '/smart_matching/uploads/imgs/thumbs/' 's-'" data-preview-src="{{ space.cover_t_img|picurl '/smart_matching/uploads/imgs/' '' }}" data-preview-group="1" /></div>
					</div>
					<div>
						<div class="divtitle">方案设计图</div>
						<div class="innerdiv"><img class="design" v-bind:src="space.design_t_img|picurl '/smart_matching/uploads/imgs/thumbs/' 's-'" data-preview-src="{{ space.design_t_img|picurl '/smart_matching/uploads/imgs/' '' }}" data-preview-group="1" /></div>
					</div>
					<div>
						<div class="divtitle">平面图</div>
						<div class="innerdiv"><img class="plan" v-bind:src="space.planar_t_img|picurl '/smart_matching/uploads/imgs/thumbs/' 's-'" data-preview-src="{{ space.planar_t_img|picurl '/smart_matching/uploads/imgs/' '' }}" data-preview-group="1" /></div>
					</div>
					<div class="divtitle">配饰清单</div>
					<div class="goods" v-for="product in space.products">
						<div class="deleteproduct" data-id="{{$index}}"><img src="images/delete.png"></div>
						<img class="productsimgs" data-id="{{ product.product_id }}" v-bind:src="product.cover_t_imgs |picurl '/smart_matching/uploads/imgs/thumbs/' 's-'">
						<div class="productsids" style="display: none;">{{ product.product_id }}</div>
						<p>
							<span class="productsnames">{{ product.name }}</span>
							<br />
							<div class="mui-numbox" data-numbox-min='1'>
								<button class="mui-btn mui-btn-numbox-minus" type="button">-</button>
								<input class="mui-input-numbox" type="number" v-bind:value="product.product_num" v-model="product.product_num" onchange="contnum()" />
								<button class="mui-btn mui-btn-numbox-plus" type="button">+</button>
							</div>
						</p>
						<p><span class="productsunitprice">{{ product.amount/100 }}</span>元</p>
						<div class="line"></div>
					</div>
					<div class="addgoods add" data-id="{{$index}}"><span class=" mui-icon mui-icon-plus"></span></div>
					<div class="line"></div>

				</div>
				<div class="cont">方案产品总数:<span id="allnum">0</span>&nbsp;方案总金额:<span id="allprice">{{amount/100}}</span>元</div>
			</div>
			<div class="footer save" onclick="addalltocart()"><i class="iconfont icon-buy"></i>保存方案</div>
		</div>

	</body>
	<script src="js/global.js"></script>
	<script src="js/app.js"></script>
	<script src="js/mui.min.js"></script>
	<script src="js/vue.js"></script>
	<script src="js/mui.zoom.js"></script>
	<script src="js/mui.previewimage.normaltype.js"></script>
	<script>
	use strict;
		if (!localStorage.temp) mui.back();
		var jsonCustomScheme = JSON.parse(localStorage.temp);
		mui.ready(function() {
			Vue.filter('picurl', function(value, url, picsize) {
				return serverurl + url + picsize + value
			})
			getspacedata();
			adaptive();
			mui.previewImage();
		})

		function getspacedata() {
			data = new Vue({
				el: '#custom',
				data: jsonCustomScheme,
				compiled: function() {
					contnum();
					stopload();
					makecatalog();
					mui('.mui-numbox').numbox();
				}
			})
			delnull();
		}

		function contnum() {
			setTimeout(function() {
				var allnum = 0;
				var allprice = 0;
				for (let u = 0; u < jsonCustomScheme.spaces.length; u++) {
					for (let v = 0; v < jsonCustomScheme.spaces[u].products.length; v++) {
						allnum += parseInt(jsonCustomScheme.spaces[u].products[v].product_num);
					}
				}
				for (let u = 0; u < jsonCustomScheme.spaces.length; u++) {
					for (let v = 0; v < jsonCustomScheme.spaces[u].products.length; v++) {
						allprice += parseInt(jsonCustomScheme.spaces[u].products[v].product_num) * parseInt(jsonCustomScheme.spaces[u].products[v].amount);
					}
				}
				document.getElementById("allnum").innerHTML = allnum;
				jsonCustomScheme.amount = allprice;
			}, 500);
		}
		mui('body').on('tap', '.deleteproduct', function() {
			productsortid = this.getAttribute('data-id');
			spacesort = parseInt(this.parentNode.parentNode.getElementsByClassName("spaceid")[1].innerHTML);
			var btnArray = ['是', '否'];
			mui.confirm('是否删除单品？', '微软装', btnArray, function(s) {
				if (!s.index) {
					jsonCustomScheme.amount -= parseInt(jsonCustomScheme.spaces[spacesort].products[productsortid].product_num * jsonCustomScheme.spaces[spacesort].products[productsortid].amount)
					jsonCustomScheme.spaces[spacesort].products.splice(productsortid, 1)
					contnum();
					if (!jsonCustomScheme.spaces[spacesort].products.length) jsonCustomScheme.spaces.splice(spacesort, 1);
				} else {
					return;
				}
			})
			return;
		});

		function delnull() {
			arrobjCoverImg = document.getElementsByClassName("coverimg");
			for (let i = 0; i < arrobjCoverImg.length; i++) {
				if ((arrobjCoverImg[i].src).slice(-4) == "null" || (arrobjCoverImg[i].src).slice(-2) == "s-") {
					objToDel = arrobjCoverImg[i].parentNode;
					objToDel.parentNode.removeChild(objToDel);
				}
			}
			arrobjPlan = document.getElementsByClassName("plan");
			for (let i = 0; i < arrobjPlan.length; i++) {
				if ((arrobjPlan[i].src).slice(-4) == "null" || (arrobjPlan[i].src).slice(-2) == "s-") {
					objToDel = arrobjPlan[i].parentNode.parentNode;
					objToDel.parentNode.removeChild(objToDel);
				}
			}
			arrobjDesign = document.getElementsByClassName("design");
			for (let i = 0; i < arrobjDesign.length; i++) {
				if ((arrobjDesign[i].src).slice(-4) == "null" || (arrobjDesign[i].src).slice(-2) == "s-") {
					objToDel = arrobjDesign[i].parentNode.parentNode;
					objToDel.parentNode.removeChild(objToDel);
				}
			}
		}

		function adaptive() {
			arrobjCases = document.getElementsByClassName("innerdiv");
			arrobjGoods = document.getElementsByClassName("goods");
			nBodyWidth = document.body.clientWidth;
			document.getElementsByClassName("mui-content")[0].style.width = nBodyWidth;
			for (let i = 0; i < arrobjCases.length; i++) {
				arrobjCases[i].style.width = nBodyWidth + 'px';
				arrobjCases[i].style.height = nBodyWidth * 0.56 + 'px';
			}
			for (let i = 0; i < arrobjGoods.length; i++) {
				arrobjGoods[i].style.width = nBodyWidth * 0.48 + 'px';
				arrobjGoods[i].style.height = nBodyWidth * 0.48 + 'px';
				arrobjGoods[i].getElementsByClassName("productsimgs")[0].style.height = nBodyWidth * 0.27 + 'px';
				if (i % 2) {
					arrobjGoods[i].style.marginLeft = nBodyWidth * 0.02 + 'px';
				}
			}
			arrobjAddGoods = document.getElementsByClassName("addgoods")
			for (let i = 0; i < arrobjAddGoods.length; i++) {
				arrobjAddGoods[i].style.width = nBodyWidth * 0.48 + 'px';
				arrobjAddGoods[i].style.height = nBodyWidth * 0.48 + 'px';
				arrobjAddGoods[i].firstChild.style.fontSize = nBodyWidth * 0.32 + 'px';
				arrobjAddGoods[i].firstChild.style.lineHeight = nBodyWidth * 0.48 + 'px';
			}
		}
		mui('body').on('tap', '.addgoods', function() {
			nSpaceSortId = this.getAttribute('data-id');
			localStorage.temp = JSON.stringify(jsonCustomScheme);
			mui.openWindow({
				url: "add-product.html?spacesortid=" + nSpaceSortId,
				id: "add-product"
			});
			return;
		});
		mui('body').on('tap', '.productsimgs', function() {
			nProductId = this.getAttribute('data-id');
			localStorage.temp = JSON.stringify(jsonCustomScheme);
			mui.openWindow({
				url: "product.html?id=" + nProductId,
				id: "product"
			});
			return;
		});
		const catalogarray = [];

		function makecatalog() {
			spacenames = document.getElementsByClassName("divtitle spacename");
			for (let i = 0; i < spacenames.length; i++) {
				searchresult = searchKeyWordAndMakeCatalog(spacenames[i].innerHTML);
				if (searchresult)(spacenames[i].innerHTML = searchresult, spacenames[i].id = searchresult, catalogarray.push(searchresult))
			}
		}

		function searchKeyWordAndMakeCatalog(title) {
			var keyword = [
				["客厅", "客厅"],
				["餐厅", "餐厅"],
				["卧室", "卧室"],
				["书房", "书房"],
				["次卧", "次卧"],
				["老人", "老人房"],
				["男孩", "男孩房"],
				["女孩", "女孩房"]
			];
			var arrSearch = title.split('');
			const words = [];
			for (let k = 0; k < arrSearch.length - 1; k++) {
				words.push(arrSearch[k] + arrSearch[k + 1])
			}
			for (let j = 0; j < keyword.length; j++) {
				if (~words.indexOf(keyword[j][0])) return keyword[j][1];
			}
			return false;
		}

		function addalltocart() {
			name = jsonCustomScheme.name + '自定义方案';
			price = jsonCustomScheme.amount / 100;
			pic = document.getElementById("cover").getElementsByTagName("img")[0].src;
			cart(3, jsonCustomScheme.scheme_id, name, 1, price, pic, JSON.stringify(jsonCustomScheme));
			localStorage.removeItem("temp");
			mui.openWindow({
				url: "cart.html",
				id: "cart"
			});
		}
	</script>

</html>