<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
		<meta name="format-detection" content="telephone=no">
		<meta content="email=no" name="format-detection" />
		<script type="text/javascript" src="js/global.js"></script>
		<script type="text/javascript" src="js/mui.min.js"></script>
		<script src="js/mui.picker.js"></script>
		<script src="js/mui.poppicker.js"></script>
		<script src="js/city.data.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" src="js/vue.js"></script>
		<link rel="stylesheet" href="css/mui.min.css" />
		<link rel="stylesheet" href="css/app.css" />
		<link rel="stylesheet" href="css/match.css" />
		<link href="css/mui.picker.css" rel="stylesheet" />
		<link href="css/mui.poppicker.css" rel="stylesheet" />
		<title>微软装</title>
	</head>

	<body onresize="javascript:adaptive();">
		<div id="load">
			<div class="loading"></div>
			<div class="loading-text"><img src="images/load.gif" width="25px">加载中，请稍候...</div>
		</div>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<a class="icon-left-nav mui-icon mui-pull-right skip" href="match-step3.html">跳过></a> </header>
		<div class="mui-content">
			<div class="title">你对什么感兴趣？</div>
			

			<div id="tag-list">
				<div class="tagtype" v-for="tagtype in tags">
					<div class="tag-name">{{tagtype.p_tag_name}}</div>
					<div class="tags"><span class="sortid">{{$index}}</span>
						<span class="tag" v-for="tag in tagtype.tags" onclick="selectatag({{tag.tag_id}},this)">{{tag.tag_name}}</span>
					</div>
				</div>
			</div>
			<div id="next-step">开启软装之旅！</div>
		</div>
	</body>
	<script>
		localStorage.tag = '{"Total":"3","tags":[{"p_tag_id":1,"p_tag_name":"书影音","tags":[{"tag_id":1,"tag_name":"影视"},{"tag_id":2,"tag_name":"阅读"},{"tag_id":3,"tag_name":"音乐"}]},{"p_tag_id":2,"p_tag_name":"生活","tags":[{"tag_id":1,"tag_name":"旅行"},{"tag_id":2,"tag_name":"居家"},{"tag_id":3,"tag_name":"美食"},{"tag_id":4,"tag_name":"手作"},{"tag_id":5,"tag_name":"运动健身"},{"tag_id":6,"tag_name":"时尚"},{"tag_id":7,"tag_name":"饮茶"}]},{"p_tag_id":3,"p_tag_name":"看世界","tags":[{"tag_id":1,"tag_name":"社交"},{"tag_id":2,"tag_name":"教育"},{"tag_id":3,"tag_name":"科技"},{"tag_id":4,"tag_name":"人文"}]}]}';
		var taglist = JSON.parse(localStorage.tag);
		var selectobj = new Array(parseInt(taglist.Total));
		var selected = 0;
		
		var colorset = [];
		
		
		document.getElementById('next-step').addEventListener('tap', function() {
			!document.getElementById("province").innerHTML?mui.alert('请选择您的地址', '微软装'):taglist.Total == selected ? next() : mui.alert('请完成标签选择', '微软装');
			
		});
		mui.ready(function() {
			localStorage.removeItem('IC');
			list = new Vue({
				el: '#tag-list',
				data: taglist
			});
			adaptive();
			changecolor();
		});

		function adaptive() {
			tagtype = document.getElementsByClassName("tagtype");
			tags = document.getElementsByClassName("tags");
			tagname = document.getElementsByClassName("tag-name");
			for (var i = 0; i < tagtype.length; i++) {
				tagname[i].style.top = tags[i].offsetHeight / 2 - 15 + 'px';
				tagtype[i].style.height = tags[i].offsetHeight + 'px';
			}
		}

		function changecolor() {
			tagtype = document.getElementsByClassName("tagtype");
			for (var i = 0; i < taglist.Total; i++) {
				colorset.push(colorpallte[Math.floor(Math.random() * colorpallte.length)]);
				tagtype[i].style.color = colorset[i]
				tag = tagtype[i].getElementsByClassName("tag");
				for (var j = 0; j < tag.length; j++) {
					tag[j].style.border = '1px solid' + colorset[i];
				}
			}
		}

		function selectatag(e, f) {
			thistagtype = f.parentNode;
			sortid = thistagtype.getElementsByClassName("sortid")[0].innerHTML;
			if (!selectobj[sortid]) selected++;
			selectobj[sortid] = e;
			for (var i = 0; i < thistagtype.getElementsByClassName("tag").length; i++) {
				thistagtype.getElementsByClassName("tag")[i].style.backgroundColor = "#fff";
				thistagtype.getElementsByClassName("tag")[i].style.color = colorset[sortid];
			}
			f.style.color = '#fff';
			f.style.backgroundColor = colorset[sortid];
		}

		function next() {
			var step1_info = [];
			var p_tag_id;
			for(var i=0;i<taglist.Total;i++){
				p_tag_id = taglist.tags[i].p_tag_id;
				step1_info.push({"id":p_tag_id,"value":selectobj[i]})
			}
			localStorage.IC = JSON.stringify(step1_info);
			location.href = "match-step2.html"
		}
	</script>

</html>