<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
		<meta name="format-detection" content="telephone=no">
		<meta content="email=no" name="format-detection" />
		<script type="text/javascript" src="js/global.js"></script>
		<script type="text/javascript" src="js/mui.min.js"></script>
		<script src="js/mui.picker.js"></script>
		<script src="js/mui.poppicker.js"></script>
		<script src="js/city.data.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" src="js/vue.js"></script>
		<link rel="stylesheet" href="css/mui.min.css" />
		<link rel="stylesheet" href="css/app.css" />
		<link rel="stylesheet" href="css/match.css" />
		<link href="css/mui.picker.css" rel="stylesheet" />
		<link href="css/mui.poppicker.css" rel="stylesheet" />
		<title>微软装</title>
	</head>

	<body onresize="javascript:adaptive();">
		<div id="load">
			<div class="loading"></div>
			<div class="loading-text"><img src="images/load.gif" width="25px">加载中，请稍候...</div>
		</div>
		<span id="close" class="close"><img src="images/close.jpg" width="40px" height="40px"></span>
		<div class="mui-content">
			<div class="title">请选择你家的</div>
			<div class="choose-address">
				<button id='pickcity' class="mui-btn mui-btn-block" type='button'><span id="province"></span><span id="city">所在城市</span><span id="county"></span></button>
			</div>

			<div id="tag-list">
				<div class="tagtype" v-for="tagtype in items">
					<div class="tag-name">{{tagtype.name}}</div>
					<div class="tags"><span class="sortid">{{$index}}</span>
						<span class="tag" v-for="tag in tagtype.children" onclick="selectatag({{tag.id}},this)">{{tag.name}}</span>
					</div>
				</div>
			</div>
			<div id="next-step">选好了，下一步></div>
		</div>
	</body>
	<script>
		startload();
		var taglist = JSON.parse(localStorage.tag);
		var selectobj = [];
		var selected = 0;
		var colorset = [];
		mui.ajax(apiurl + 'tags/multi-children?name=家庭状态,房屋户型,房屋面积,装修价格', {
			dataType: 'json',
			type: 'get',
			timeout: 6000,
			success: function(data) {
				if (data.success == true) {
					taglist = data.data;
					list = new Vue({
						el: '#tag-list',
						data: taglist
					});
					var selectobj = new Array(parseInt(taglist.items.length));
					adaptive();
					changecolor();
					stopload();
				} else {
					mui.alert("获取标签失败，请稍候再试");
					stopload();
				}
			},
			error: function(xhr, textStatus, errorThrown) {
				mui.alert("网络连接失败，请稍候再试");
				stopload();
			}
		});
		(function($, doc) {
			mui.init();
			$.ready(function() {
				var pickcity = new $.PopPicker({
					layer: 1
				});
				pickcity.setData([{
					value: '2',
					text: '北京'
				}, {
					value: '3',
					text: '三亚'
				}, {
					value: '4',
					text: '海口'
				}, {
					value: '5',
					text: '西双版纳'
				}]);
				var showbtn = doc.getElementById('pickcity');
				showbtn.addEventListener('tap', function(event) {
					pickcity.show(function(items) {
						document.getElementById("city").innerHTML = (items[0] || {}).text;
					});
				}, false);
			});
		})(mui, document);
		document.getElementById('close').addEventListener('tap', function() {
			window.history.back()
		});
		document.getElementById('next-step').addEventListener('tap', function() {
			document.getElementById("city").innerHTML == "所在城市" ? mui.alert('请选择您的地址', '微软装') : taglist.items.length == selected ? next() : mui.alert('请完成标签选择', '微软装');
		});
		mui.ready(function() {
			localStorage.removeItem('IC');
		});

		function adaptive() {
			tagtype = document.getElementsByClassName("tagtype");
			tags = document.getElementsByClassName("tags");
			tagname = document.getElementsByClassName("tag-name");
			for (var i = 0; i < tagtype.length; i++) {
				tagname[i].style.top = tags[i].offsetHeight / 2 - 15 + 'px';
				tagtype[i].style.height = tags[i].offsetHeight + 'px';
			}
		}

		function changecolor() {
			tagtype = document.getElementsByClassName("tagtype");
			for (var i = 0; i < taglist.items.length; i++) {
				colorset.push(colorpallte[Math.floor(Math.random() * colorpallte.length)]);
				tagtype[i].style.color = colorset[i]
				tag = tagtype[i].getElementsByClassName("tag");
				for (var j = 0; j < tag.length; j++) {
					tag[j].style.border = '1px solid' + colorset[i];
				}
			}
		}

		function selectatag(e, f) {
			thistagtype = f.parentNode;
			sortid = thistagtype.getElementsByClassName("sortid")[0].innerHTML;
			if (!selectobj[sortid]) selected++;
			selectobj[sortid] = f.innerHTML;
			for (var i = 0; i < thistagtype.getElementsByClassName("tag").length; i++) {
				thistagtype.getElementsByClassName("tag")[i].style.backgroundColor = "#fff";
				thistagtype.getElementsByClassName("tag")[i].style.color = colorset[sortid];
			}
			f.style.color = '#fff';
			f.style.backgroundColor = colorset[sortid];
		}

		function next() {
			var step1_info = [];
			for (var i = 0; i < taglist.items.length; i++) {
				step1_info.push(JSON.parse('{"' + taglist.items[i].name + '":"' + selectobj[i] + '"}'))
			}
			step1_info.push()
			step1_info.push({
				"城市": document.getElementById("city").innerHTML
			});
			localStorage.IC = JSON.stringify(step1_info);
			location.href = "match-step2.html"
		}
	</script>

</html>