<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
		<meta name="format-detection" content="telephone=no">
		<meta content="email=no" name="format-detection" />
		<script type="text/javascript" src="js/global.js"></script>
		<script type="text/javascript" src="js/mui.min.js"></script>
		<script src="js/mui.picker.js"></script>
		<script src="js/mui.poppicker.js"></script>
		<script src="js/city.data.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" src="js/vue.js"></script>
		<link rel="stylesheet" href="css/mui.min.css" />
		<link rel="stylesheet" href="css/app.css" />
		<link rel="stylesheet" href="css/match.css" />
		<link href="css/mui.picker.css" rel="stylesheet" />
		<link href="css/mui.poppicker.css" rel="stylesheet" />
		<title>微软装</title>
	</head>

	<body onresize="javascript:adaptive();">
		<div id="load">
			<div class="loading"></div>
			<div class="loading-text"><img src="images/load.gif" width="25px">加载中，请稍候...</div>
		</div>
		<span id="close" class="close"><img src="images/close.jpg" width="40px" height="40px"></span>
		<div class="mui-content">
			<div class="title">请选择你家的</div>
			<div class="choose-address">
				<button id='pickcity' class="mui-btn mui-btn-block" type='button'><span id="province"></span><span id="city">所在城市</span><span id="county"></span></button>
			</div>

			<div id="tag-list">
				<div class="tagtype" v-for="tagtype in items">
					<div class="tag-name">{{tagtype.name}}</div>
					<div class="tags"><span class="sortid">{{$index}}</span>
						<span class="tag" v-for="tag in tagtype.children" onclick="selectatag({{tag.id}},this)">{{tag.name}}</span>
					</div>
				</div>
			</div>

			<div id="spacetype">
				<div class="tagtype" v-for="tagtype in items">
					<div class="tag-name">{{tagtype.name}}</div>
					<div class="tags"><span class="sortid">{{$index}}</span>
						<span class="tag" v-for="tag in tagtype.children" onclick="selectspace({{tag.id}},this)">{{tag.name}}</span>
					</div>
				</div>
			</div>
			<div id="next-step">选好了，下一步></div>
		</div>
	</body>
	<script>
		startload();
		var taglist;
		var spacelist;
		var spaceselectid = [];
		var spaceselect = [];
		var selectobj = [];
		var selectobjid = [];
		var selected = 0;
		var cityid;
		var colorset = [];
		function GetRequest() {
			var url = location.search;
			var theRequest = new Object();
			if (url.indexOf("?") != -1) {
				var str = url.substr(1);
				strs = str.split("&");
				for (var i = 0; i < strs.length; i++) {
					theRequest[strs[i].split("=")[0]] = unescape(strs[i].split("=")[1]);
				}
			}
			return theRequest;
		}
		if (!("layer" in GetRequest())) document.getElementById("close").style.display = 'none';

		function removeitem(array, val) {
			var index = array.indexOf(val);
			if (index > -1) {
				array.splice(index, 1);
			}
		};
		mui.ajax(apiurl + 'tags/multi-children?name=家庭状态,装修价格', {
			dataType: 'json',
			type: 'get',
			timeout: 6000,
			success: function(data) {
				if (data.success == true) {
					taglist = data.data;
					list = new Vue({
						el: '#tag-list',
						data: taglist
					});
					var selectobj = new Array(parseInt(taglist.items.length));
					var selectobjid = new Array(parseInt(taglist.items.length));
					mui.ajax(apiurl + 'tags/multi-children?name=空间类型', {
						dataType: 'json',
						type: 'get',
						timeout: 6000,
						success: function(data) {
							if (data.success == true) {
								spacelist = data.data;
								list = new Vue({
									el: '#spacetype',
									data: spacelist
								});
								adaptive();
								changecolor();
								stopload();
							} else {
								mui.alert("获取标签失败，请稍候再试");
								stopload();
							}
						},
						error: function(xhr, textStatus, errorThrown) {
							mui.alert("网络连接失败，请稍候再试");
							stopload();
						}
					});
				} else {
					mui.alert("获取标签失败，请稍候再试");
					stopload();
				}
			},
			error: function(xhr, textStatus, errorThrown) {
				mui.alert("网络连接失败，请稍候再试");
				stopload();
			}
		});
		(function($, doc) {
			mui.init();
			$.ready(function() {
				var pickcity = new $.PopPicker({
					layer: 1
				});
				pickcity.setData([{
					value: '2',
					text: '北京'
				}, {
					value: '3',
					text: '三亚'
				}, {
					value: '4',
					text: '海口'
				}, {
					value: '5',
					text: '西双版纳'
				}]);
				var showbtn = doc.getElementById('pickcity');
				showbtn.addEventListener('tap', function(event) {
					pickcity.show(function(items) {
						document.getElementById("city").innerHTML = (items[0] || {}).text;
						cityid = (items[0] || {}).value;
					});
				}, false);
			});
		})(mui, document);
		document.getElementById('close').addEventListener('tap', function() {
			window.history.back()
		});
		document.getElementById('next-step').addEventListener('tap', function() {
			document.getElementById("city").innerHTML == "所在城市" ? mui.alert('请选择您的地址', '微软装') : !taglist.items.length == selected ? mui.alert('请完成标签选择', '微软装') : !spaceselect.length ? mui.alert('请至少选择一种空间类型', '微软装') : next();
		});
		mui.ready(function() {
			localStorage.removeItem('IC');
		});

		function adaptive() {
			tagtype = document.getElementsByClassName("tagtype");
			tags = document.getElementsByClassName("tags");
			tagname = document.getElementsByClassName("tag-name");
			for (var i = 0; i < tagtype.length; i++) {
				tagname[i].style.top = tags[i].offsetHeight / 2 - 15 + 'px';
				tagtype[i].style.height = tags[i].offsetHeight + 'px';
			}
		}

		function changecolor() {
			tagtype = document.getElementsByClassName("tagtype");
			for (var i = 0; i < (taglist.items.length + spacelist.items.length); i++) {
				colorset.push(colorpallte[Math.floor(Math.random() * colorpallte.length)]);
				tagtype[i].style.color = colorset[i]
				tag = tagtype[i].getElementsByClassName("tag");
				for (var j = 0; j < tag.length; j++) {
					tag[j].style.border = '1px solid' + colorset[i];
				}
			}
		}

		function selectatag(e, f) {
			thistagtype = f.parentNode;
			sortid = thistagtype.getElementsByClassName("sortid")[0].innerHTML;
			if (!selectobj[sortid]) selected++;
			selectobj[sortid] = f.innerHTML;
			selectobjid[sortid] = e;
			for (var i = 0; i < thistagtype.getElementsByClassName("tag").length; i++) {
				thistagtype.getElementsByClassName("tag")[i].style.backgroundColor = "#fff";
				thistagtype.getElementsByClassName("tag")[i].style.color = colorset[sortid];
			}
			f.style.color = '#fff';
			f.style.backgroundColor = colorset[sortid];
		}

		function selectspace(e, f) {
			(f.style.backgroundColor == 'rgb(255, 255, 255)' || !f.style.backgroundColor) ? (f.style.color = '#fff', f.style.backgroundColor = f.style.borderColor, spaceselect.push(f.innerHTML), spaceselectid.push(e)) : (f.style.color = f.style.backgroundColor, f.style.backgroundColor = 'rgb(255, 255, 255)', removeitem(spaceselect, f.innerHTML), removeitem(spaceselectid, e))
		}

		function next() {
			var spacechildren = [];
			var step1_info = [];
			for (var i = 0; i < taglist.items.length; i++) {
				step1_info.push(JSON.parse('{"id":' + taglist.items[i].id + ',"name":"' + taglist.items[i].name + '","children":{"id":' + selectobjid[i] + ',"name":"' + selectobj[i] + '"}}'))
			}
			step1_info.push()
			step1_info.push({
				"id": 1,
				"name": "城市",
				"children": {
					"id": cityid,
					"name": document.getElementById("city").innerHTML
				}
			});
			for (var i = 0; i < spaceselect.length; i++) {
				spacechildren.push({
					"id": spaceselectid[i],
					"name": spaceselect[i]
				});
			}
			step1_info.push({
				"id": 48,
				"name": "空间类型",
				"children": spacechildren
			});
			localStorage.IC = JSON.stringify(step1_info);
			location.href = "match-step2.html"
		}
	</script>

</html>