<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
		<meta name="format-detection" content="telephone=no">
		<meta content="email=no" name="format-detection" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="css/mui.min.css" />
		<link rel="stylesheet" href="css/app.css" />
		<link rel="stylesheet" href="css/product.css" />

		<title>微软装</title>
	</head>

	<body onresize="javascript:adaptive();">
		<div id="mask"></div>
		<div id="load">
			<div class="loading"></div>
			<div class="loading-text"><img src="images/load.gif" width="25px">加载中，请稍候...</div>
		</div>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">查看方案</h1>
		</header>
		<div id="catalog"><img src="images/app-logo.png" width="50px" height="50px"></div>
		<div class="mui-content" id="简介">
			<div id="cover" class="innerdiv"><img v-bind:src="cover_t_img|picurl '/smart_matching/uploads/imgs/thumbs/' 's-'" data-preview-src="{{cover_t_img|picurl '/smart_matching/uploads/imgs/' '' }}" data-preview-group="1" /></div>
			<div class="title">[<span id="title">{{name}}</span>]</div>

			<div id="spaces" v-for="space in spaces">
				<div>
					<div class="divtitle spacename">{{ space.name }}</div>
					<div class="innerdiv"><img class="coverimg" v-bind:src="space.cover_t_img|picurl '/smart_matching/uploads/imgs/thumbs/' 's-'" data-preview-src="{{ space.cover_t_img|picurl '/smart_matching/uploads/imgs/' '' }}" data-preview-group="1" /></div>
				</div>
				<div>
					<div class="divtitle">方案设计图</div>
					<div class="innerdiv"><img class="design" v-bind:src="space.design_t_img|picurl '/smart_matching/uploads/imgs/thumbs/' 's-'" data-preview-src="{{ space.design_t_img|picurl '/smart_matching/uploads/imgs/' '' }}" data-preview-group="1" /></div>
				</div>
				<div>
					<div class="divtitle">平面图</div>
					<div class="innerdiv"><img class="plan" v-bind:src="space.planar_t_img|picurl '/smart_matching/uploads/imgs/thumbs/' 's-'" data-preview-src="{{ space.planar_t_img|picurl '/smart_matching/uploads/imgs/' '' }}" data-preview-group="1" /></div>
				</div>
				<div class="divtitle">配饰清单</div>
				<div class="goods" v-for="product in space.products">
					<img class="productsimgs" data-id="{{ product.product_id }}" v-bind:src="product.cover_t_imgs|picurl '/smart_matching/uploads/imgs/thumbs/' 's-'">
					<div class="productsids" style="display: none;">{{ product.product_id }}</div>
					<p><span class="productsnames">{{ product.name }}</span> x <span class="productsnums">{{ product.product_num }}</span></p>
					<p><span class="productsunitprice">{{ product.amount/100 }}</span>元</p>
					<div class="line"></div>
				</div>
				<div class="line"></div>

			</div>
			<div class="cont" style="bottom: 0;">方案产品总数:<span id="allnum">0</span>&nbsp;方案总金额:<span id="allprice">0</span>元</div>

			<div id="cataloglist">
				<div>索引</div>
				<ul id="potlist">
					<li>简介</li>
					<span id="catalogpot"><li v-for="point in points">{{point}}</li></span>
				</ul>
			</div>
		</div>

	</body>
	<script src="js/app.js"></script>
	<script src="js/global.js"></script>
	<script src="js/vue.js"></script>
	<script src="js/mui.min.js"></script>
	<script src="js/mui.zoom.js"></script>
	<script src="js/mui.previewimage.normaltype.js"></script>
	<script>
		var topbarHeight = 39;
		mui.ready(function() {
			Vue.filter('picurl', function(value, url, picsize) {
				return serverurl + url + picsize + value
			})
			new Vue({
				el: '#简介',
				data: JSON.parse(localStorage.previewcustom),
				compiled: function() {
					stopload();
				}
			})
			delnull();
			let arrobjProductsNums = document.getElementsByClassName("productsnums");
			let arrobjProductsPrices = document.getElementsByClassName("productsunitprice");
			let tempallnum = 0;
			let tempallprice = 0;
			for (let i = 0; i < arrobjProductsNums.length; i++) {
				tempallnum += parseInt(arrobjProductsNums[i].innerHTML);
				tempallprice += parseInt(arrobjProductsNums[i].innerHTML) * parseInt(arrobjProductsPrices[i].innerHTML);
			}
			document.getElementById("allnum").innerHTML = tempallnum;
			document.getElementById("allprice").innerHTML = tempallprice;
			adaptive();
			mui.previewImage();
			makecatalog();
		})

		function delnull() {
			let coverimg = document.getElementsByClassName("coverimg");
			for (let i = 0; i < coverimg.length; i++) {
				if ((coverimg[i].src).slice(-4) == "null" || (coverimg[i].src).slice(-2) == "s-") {
					objToDel = coverimg[i].parentNode;
					objToDel.parentNode.removeChild(objToDel);
				}
			}
			let arrobjPlan = document.getElementsByClassName("plan");
			for (let i = 0; i < arrobjPlan.length; i++) {
				if ((arrobjPlan[i].src).slice(-4) == "null" || (arrobjPlan[i].src).slice(-2) == "s-") {
					objToDel = arrobjPlan[i].parentNode.parentNode;
					objToDel.parentNode.removeChild(objToDel);
				}
			}
			let arrobjDesign = document.getElementsByClassName("design");
			for (let i = 0; i < arrobjDesign.length; i++) {
				if ((arrobjDesign[i].src).slice(-4) == "null" || (arrobjDesign[i].src).slice(-2) == "s-") {
					objToDel = arrobjDesign[i].parentNode.parentNode;
					objToDel.parentNode.removeChild(objToDel);
				}
			}
		}

		function adaptive() {
			let cases = document.getElementsByClassName("innerdiv");
			let goods = document.getElementsByClassName("goods");
			let nBodyWidth = document.body.clientWidth;
			document.getElementsByClassName("mui-content")[0].style.width = nBodyWidth;
			for (let i = 0; i < cases.length; i++) {
				cases[i].style.width = nBodyWidth + 'px';
				cases[i].style.height = nBodyWidth * 0.56 + 'px';
			}
			for (let i = 0; i < goods.length; i++) {
				goods[i].style.width = nBodyWidth * 0.48 + 'px';
				goods[i].style.height = nBodyWidth * 0.48 + 'px';
				if (i % 2) {
					goods[i].style.marginLeft = nBodyWidth * 0.02 + 'px';
				}
			}
		}
		mui('body').on('tap', '.productsimgs', function() {
			mui.openWindow({
				url: "product.html?preview&id=" + this.getAttribute('data-id'),
				id: "product"
			});
			return;
		});
		mui('#potlist').on('tap', 'li', function() {
			scroller(this.innerHTML, 600)
		});
		document.getElementById('catalog').addEventListener('tap', function() {
			catalogOpen();
		});
		document.getElementById('mask').addEventListener('tap', function() {
			catalogClose();
		});

		function catalogOpen() {
			var el = document.getElementById("mask");
			el.style.display = 'block';
			document.getElementById("cataloglist").style.left = '0';
		}

		function catalogClose() {
			var el = document.getElementById("mask");
			el.style.display = 'none';
			document.getElementById("cataloglist").style.left = '-150px';
		}
		const arrCatalog = [];

		function makecatalog() {
			let arrobjSpaceNames = document.getElementsByClassName("divtitle spacename");
			for (let i = 0; i < arrobjSpaceNames.length; i++) {
				let strSearchResult = searchKeyWordAndMakeCatalog(arrobjSpaceNames[i].innerHTML);
				if (strSearchResult)(arrobjSpaceNames[i].innerHTML = strSearchResult, arrobjSpaceNames[i].id = strSearchResult, arrCatalog.push(strSearchResult))
			}
			new Vue({
				el: '#catalogpot',
				data: {
					points: arrCatalog
				},
				compiled: function() {
					document.styleSheets[0].insertRule('#cataloglist ul::before { bottom: ' + (document.getElementById("cataloglist").offsetHeight - 80 - 42 * catalog.length) + 'px;}', 0);
				}
			})
		}

		function searchKeyWordAndMakeCatalog(title) {
			var keyword = [
				["客厅", "客厅"],
				["餐厅", "餐厅"],
				["卧室", "卧室"],
				["书房", "书房"],
				["次卧", "次卧"],
				["老人", "老人房"],
				["男孩", "男孩房"],
				["女孩", "女孩房"]
			];
			var temparray = title.split('');
			const words = [];
			for (let k = 0; k < temparray.length - 1; k++) {
				words.push(temparray[k] + temparray[k + 1])
			}
			for (let j = 0; j < keyword.length; j++) {
				if (~words.indexOf(keyword[j][0])) return keyword[j][1];
			}
			return false;
		}

		function intval(v) {
			v = parseInt(v);
			return isNaN(v) ? 0 : v;
		}

		function getPos(e) {
			var l = 0;
			var t = 0;
			var w = intval(e.style.width);
			var h = intval(e.style.height);
			var wb = e.offsetWidth;
			var hb = e.offsetHeight;
			while (e.offsetParent) {
				l += e.offsetLeft + (e.currentStyle ? intval(e.currentStyle.borderLeftWidth) : 0);
				t += e.offsetTop + (e.currentStyle ? intval(e.currentStyle.borderTopWidth) : 0);
				e = e.offsetParent;
			}
			l += e.offsetLeft + (e.currentStyle ? intval(e.currentStyle.borderLeftWidth) : 0);
			t += e.offsetTop + (e.currentStyle ? intval(e.currentStyle.borderTopWidth) : 0);
			return {
				x: l,
				y: t - topbarHeight,
				w: w,
				h: h,
				wb: wb,
				hb: hb
			};
		}

		function getScroll() {
			var t, l, w, h;
			if (document.documentElement && document.documentElement.scrollTop) {
				t = document.documentElement.scrollTop;
				l = document.documentElement.scrollLeft;
				w = document.documentElement.scrollWidth;
				h = document.documentElement.scrollHeight;
			} else if (document.body) {
				t = document.body.scrollTop;
				l = document.body.scrollLeft;
				w = document.body.scrollWidth;
				h = document.body.scrollHeight;
			}
			return {
				t: t,
				l: l,
				w: w,
				h: h
			};
		}

		function scroller(el, duration) {
			catalogClose();
			if (typeof el != 'object') {
				el = document.getElementById(el);
			}
			if (!el) return;
			var z = this;
			z.el = el;
			z.p = getPos(el);
			z.s = getScroll();
			z.clear = function() {
				window.clearInterval(z.timer);
				z.timer = null
			};
			z.t = (new Date).getTime();
			z.step = function() {
				var t = (new Date).getTime();
				var p = (t - z.t) / duration;
				if (t >= duration + z.t) {
					z.clear();
					window.setTimeout(function() {
						z.scroll(z.p.y, z.p.x)
					}, 13);
				} else {
					st = ((-Math.cos(p * Math.PI) / 2) + 0.5) * (z.p.y - z.s.t) + z.s.t;
					sl = ((-Math.cos(p * Math.PI) / 2) + 0.5) * (z.p.x - z.s.l) + z.s.l;
					z.scroll(st, sl);
				}
			};
			z.scroll = function(t, l) {
				window.scrollTo(l, t)
			};
			z.timer = window.setInterval(function() {
				z.step();
			}, 13);
		}
	</script>

</html>