<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
		<meta name="format-detection" content="telephone=no">
		<meta content="email=no" name="format-detection" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<script type="text/javascript" src="js/app.js"></script>
		<script type="text/javascript" src="js/global.js"></script>
		<script type="text/javascript" src="js/vue.js"></script>
		<script type="text/javascript" src="js/mui.min.js"></script>
		<script type="text/javascript" src="js/mui.zoom.js"></script>
		<script type="text/javascript" src="js/mui.previewimage.normaltype.js"></script>

		<link rel="stylesheet" href="css/mui.min.css" />
		<link rel="stylesheet" href="css/app.css" />
		<link rel="stylesheet" href="css/product.css" />

		<title>微软装</title>
	</head>

	<body onresize="javascript:adaptive();">
		<div id="mask"></div>
		<div id="load">
			<div class="loading"></div>
			<div class="loading-text"><img src="images/load.gif" width="25px">加载中，请稍候...</div>
		</div>
		<header class="mui-bar mui-bar-nav">
			<span id="cart" class="iconfont icon-gouwuche icon-left-nav mui-icon mui-pull-right"></span>
			<span id="intelligent" class="mui-icon mui-icon-pengyouquan icon-left-nav mui-icon mui-pull-right">&nbsp;&nbsp;&nbsp;</span>
			<span id="home" class="mui-icon mui-icon-home icon-left-nav mui-icon mui-pull-right">&nbsp;&nbsp;&nbsp;</span>
		</header>
		<div id="catalog"><img src="images/app-logo.png" width="50px" height="50px"></div>
		<div class="mui-content" id="简介">
			<div id="cover" class="innerdiv"><img src="images/default-1.png" data-preview-src="" data-preview-group="1" /></div>
			<div class="title">[<span id="title">...</span>]</div>
			<div class="space-elems">
				<div class="space-elems-inner">

					<div class="space-elem" id="woshi"><i class="iconfont icon-chuang"></i>
						<p><span>1</span>卧室</p>
					</div>
					<div class="space-elem" id="keting"><i class="iconfont icon-shafa"></i>
						<p><span>1</span>客厅</p>
					</div>
					<div class="space-elem" id="shufang"><i class="iconfont icon-shuzhuo"></i>
						<p><span>1</span>书房</p>
					</div>
					<div class="space-elem" id="canting"><i class="iconfont icon-canting"></i>
						<p><span>1</span>餐厅 </p>
					</div>

					<div class="space-elem" id="chufang"><i class="iconfont icon-weibolu"></i>
						<p><span>1</span>厨房</p>
					</div>
					<div class="space-elem" id="weishengjian"><i class="iconfont icon-yugang"></i>
						<p><span>1</span>卫生间</p>
					</div>
					<div class="space-elem" id="yangtai"><i class="iconfont icon-chair"></i>
						<p><span>1</span>阳台</p>
					</div>
					<div class="space-elem" id="chashi"><i class="iconfont icon-tea"></i>
						<p><span>1</span>茶室</p>
					</div>
					<div class="space-elem" id="xiuxianqu"><i class="iconfont icon-game"></i>
						<p><span>1</span>休闲区</p>
					</div>
				</div>
			</div>
			<div>
				<div class="divtitle">灵感来源</div>
				<div id="inspiration" class="innerdiv">
					<img src="images/default-1.png" data-preview-src="" data-preview-group="1" /></div>
			</div>
			<div>
				<div class="divtitle">空间亮点</div>
				<div id="bright_spot" class="innerdiv">
					<img src="images/default-1.png" data-preview-src="" data-preview-group="1" /></div>
			</div>
			<div>
				<div class="divtitle">色彩分析</div>
				<div id="color_analysis" class="innerdiv">
					<img src="images/default-1.png" data-preview-src="" data-preview-group="1" /></div>
			</div>

			<div id="spaces" v-for="spaces in schemeSpaces">
				<div>
					<div class="divtitle spacename">{{ spaces.space.name }}</div>
					<div class="innerdiv"><img class="coverimg" v-bind:src="spaces.space.cover_t_img|picurl '/smart_matching/uploads/imgs/thumbs/' 's-'" data-preview-src="{{ spaces.space.cover_t_img|picurl '/smart_matching/uploads/imgs/' '' }}" data-preview-group="1" /></div>
				</div>
				<div>
					<div class="divtitle">方案设计图</div>
					<div class="innerdiv"><img class="sjt" v-bind:src="spaces.space.design_t_img|picurl '/smart_matching/uploads/imgs/thumbs/' 's-'" data-preview-src="{{ spaces.space.design_t_img|picurl '/smart_matching/uploads/imgs/' '' }}" data-preview-group="1" /></div>
				</div>
				<div>
					<div class="divtitle">平面图</div>
					<div class="innerdiv"><img class="pmt" v-bind:src="spaces.space.planar_t_img|picurl '/smart_matching/uploads/imgs/thumbs/' 's-'" data-preview-src="{{ spaces.space.planar_t_img|picurl '/smart_matching/uploads/imgs/' '' }}" data-preview-group="1" /></div>
				</div>
				<div class="divtitle">配饰清单</div>
				<div class="goods" v-for="products in spaces.space.spaceProducts">
					<img class="productsimgs" data-id="{{ products.product.id }}" v-bind:src="products.product.cover_t_imgs |picurl '/smart_matching/uploads/imgs/thumbs/' 's-'">
					<div class="productsids" style="display: none;">{{ products.product.id }}</div>
					<p><span class="productsnames">{{ products.product.name }}</span> x <span class="productsnums">{{ products.product_num }}</span></p>
					<p><span class="productsunitprice">{{ products.product.amount/100 }}</span>元</p>
					<div class="line"></div>
				</div>
				<div class="line"></div>

			</div>
			<div class="cont">方案产品总数:<span id="allnum">0</span>&nbsp;方案总金额:<span id="allprice">0</span>元</div>
			<div class="footer edit" onclick="edit()"><i class="iconfont icon-buy"></i>编辑</div>
			<div class="footer addcart" onclick="addalltocart()"><i class="iconfont icon-buy"></i>加入购物车</div>
			<div id="cataloglist">
				<div>索引</div>
				<ul id="potlist">
					<li>简介</li>
					<span id="catalogpot"><li v-for="point in points">{{point}}</li></span>
				</ul>
			</div>
		</div>

	</body>
	<script>
		var url = window.location.search;
		var sortid = url.substring(url.lastIndexOf('=') + 1, url.length);
		var schemeslist = JSON.parse(localStorage.schemes)[sortid];
		var schemename = schemeslist.name;
		var schemeid = schemeslist.id;
		var jsonschemes;
		var spacedata;
		var topbarHeight = 39;
		
		mui.ready(function() {
			Vue.filter('picurl', function(value, url, picsize) {
				return serverurl + url + picsize + value
			})
			getschemes();adaptive();mui.previewImage();
		})
		

		function getschemes() {
			mui.ajax(apiurl + 'schemes/' + schemeid, {
				data: {},
				dataType: 'json',
				type: 'get',
				timeout: 6000,
				success: function(data) {
					if (data.success == true) {
						jsonschemes = data.data;
						setschemes();
						getspacedata();
						adaptive();
					} else {
						mui.alert(data.message);
						stopload();
					}
				}
			});
		}

		function setschemes() {
			document.getElementById("cover").getElementsByTagName("img")[0].src = serverurl + '/smart_matching/uploads/imgs/thumbs/m-' + jsonschemes.cover_t_img;
			!jsonschemes.community ? document.getElementById("title").innerHTML = jsonschemes.name + "方案" : document.getElementById("title").innerHTML = jsonschemes.community;
			!jsonschemes.bedroom ? document.getElementById("woshi").style.display = "none" : document.getElementById("woshi").getElementsByTagName("span")[0].innerHTML = jsonschemes.bedroom;
			!jsonschemes.livingroom ? document.getElementById("keting").style.display = "none" : document.getElementById("keting").getElementsByTagName("span")[0].innerHTML = jsonschemes.livingroom;
			!jsonschemes.studyroom ? document.getElementById("shufang").style.display = "none" : document.getElementById("shufang").getElementsByTagName("span")[0].innerHTML = jsonschemes.studyroom;
			!jsonschemes.diningroom ? document.getElementById("canting").style.display = "none" : document.getElementById("canting").getElementsByTagName("span")[0].innerHTML = jsonschemes.diningroom;
			!jsonschemes.kitchen ? document.getElementById("chufang").style.display = "none" : document.getElementById("chufang").getElementsByTagName("span")[0].innerHTML = jsonschemes.kitchen;
			!jsonschemes.bathroom ? document.getElementById("weishengjian").style.display = "none" : document.getElementById("weishengjian").getElementsByTagName("span")[0].innerHTML = jsonschemes.bathroom;
			!jsonschemes.balcony ? document.getElementById("yangtai").style.display = "none" : document.getElementById("yangtai").getElementsByTagName("span")[0].innerHTML = jsonschemes.balcony;
			!jsonschemes.tearoom ? document.getElementById("chashi").style.display = "none" : document.getElementById("chashi").getElementsByTagName("span")[0].innerHTML = jsonschemes.tearoom;
			!jsonschemes.lounge ? document.getElementById("xiuxianqu").style.display = "none" : document.getElementById("xiuxianqu").getElementsByTagName("span")[0].innerHTML = jsonschemes.lounge;
			document.getElementById("inspiration").getElementsByTagName("img")[0].src = serverurl + '/smart_matching/uploads/imgs/thumbs/m-' + jsonschemes.inspiration_t_img;
			document.getElementById("bright_spot").getElementsByTagName("img")[0].src = serverurl + '/smart_matching/uploads/imgs/thumbs/m-' + jsonschemes.bright_spot_t_img;
			document.getElementById("color_analysis").getElementsByTagName("img")[0].src = serverurl + '/smart_matching/uploads/imgs/thumbs/m-' + jsonschemes.color_analysis_t_img;
			//document.getElementById("display_design").childNodes[0].src = jsonschemes.display_design_img;
		}

		function getspacedata() {
			mui.ajax(apiurl + 'schemes/' + schemeid + '?expand=schemeSpaces.space.spaceProducts.product', {
				data: {},
				dataType: 'json',
				type: 'get',
				timeout: 6000,
				success: function(data) {
					if (data.success == true) {
						spacedata = data.data;
						new Vue({
							el: '#spaces',
							data: spacedata,
							compiled: function() {
								tempnum = document.getElementsByClassName("productsnums");
								tempprice = document.getElementsByClassName("productsunitprice");
								document.getElementById("allnum").innerHTML = 0;
								document.getElementById("allprice").innerHTML = 0;
								var tempallnum = 0;
								var tempallprice = 0;
								for (i = 0; i < tempnum.length; i++) {
									tempallnum += parseInt(tempnum[i].innerHTML);
									tempallprice += parseInt(tempnum[i].innerHTML) * parseInt(tempprice[i].innerHTML);
								}
								document.getElementById("allnum").innerHTML = tempallnum;
								document.getElementById("allprice").innerHTML = tempallprice;
								stopload()
								makecatalog();
							}
						})
						delnull();
					} else {
						mui.alert(data.message);
						stopload();
					}
				}
			});
		}

		function delnull() {
			var judgelist = ["inspiration", "bright_spot", "color_analysis"];
			for (var i = 0; i < judgelist.length; i++) {
				item = document.getElementById(judgelist[i]);
				if ((item.getElementsByTagName("img")[0].src).slice(-4) == "null" || (item.getElementsByTagName("img")[0].src).slice(-2) == "s-") {
					item.parentNode.parentNode.removeChild(item.parentNode);
				}
			}
			coverimg = document.getElementsByClassName("coverimg");
			for (i = 0; i < coverimg.length; i++) {
				if ((coverimg[i].src).slice(-4) == "null" || (coverimg[i].src).slice(-2) == "s-") {
					todeldiv = coverimg[i].parentNode;
					todeldiv.parentNode.removeChild(todeldiv);
				}
			}
			pmt = document.getElementsByClassName("pmt");
			for (i = 0; i < pmt.length; i++) {
				if ((pmt[i].src).slice(-4) == "null" || (pmt[i].src).slice(-2) == "s-") {
					todeldiv = pmt[i].parentNode.parentNode;
					todeldiv.parentNode.removeChild(todeldiv);
				}
			}
			sjt = document.getElementsByClassName("sjt");
			for (i = 0; i < sjt.length; i++) {
				if ((sjt[i].src).slice(-4) == "null" || (sjt[i].src).slice(-2) == "s-") {
					todeldiv = sjt[i].parentNode.parentNode;
					todeldiv.parentNode.removeChild(todeldiv);
				}
			}
		}

		function adaptive() {
			cases = document.getElementsByClassName("innerdiv");
			goods = document.getElementsByClassName("goods");
			bodywideth = document.body.clientWidth;
			document.getElementsByClassName("mui-content")[0].style.width = bodywideth;
			for (i = 0; i < cases.length; i++) {
				cases[i].style.width = bodywideth + 'px';
				cases[i].style.height = bodywideth * 0.56 + 'px';
			}
			for (i = 0; i < goods.length; i++) {
				goods[i].style.width = bodywideth * 0.48 + 'px';
				goods[i].style.height = bodywideth * 0.48 + 'px';
				if (i % 2) {
					goods[i].style.marginLeft = bodywideth * 0.02 + 'px';
				}
			}
		}

		function addalltocart() {
			type = 'scheme';
			id = schemeid;
			name = schemename;
			num = 1;
			price = document.getElementById("allprice").innerHTML;
			pic = serverurl + '/smart_matching/uploads/imgs/thumbs/s-' + jsonschemes.cover_img;
			cart(type, id, name, num, price, pic);
		}

		function edit() {
			var customscheme = {
				"name": null,
				"cover_t_img": null,
				"amount": null,
				"spaces": []
			}
			var customspace = {
				"id": null,
				"name": null,
				"cover_t_img": null,
				"design_t_img": null,
				"planar_t_img": null,
				"products": []
			}
			var customproduct = {
				"id": null,
				"name": null,
				"num": null,
				"price": null,
				"cover_t_img": null
			}
			customscheme.name = spacedata.name;
			customscheme.cover_t_img = spacedata.cover_t_img;
			customscheme.amount = spacedata.amount;
			for (var i = 0; i < spacedata.schemeSpaces.length; i++) {
				customspace.id = spacedata.schemeSpaces[i].space.id;
				customspace.name = spacedata.schemeSpaces[i].space.name;
				customspace.cover_t_img = spacedata.schemeSpaces[i].space.cover_t_img;
				customspace.design_t_img = spacedata.schemeSpaces[i].space.design_t_img;
				customspace.planar_t_img = spacedata.schemeSpaces[i].space.planar_t_img;
				for (var j = 0; j < spacedata.schemeSpaces[i].space.spaceProducts.length; j++) {
					customproduct.id = spacedata.schemeSpaces[i].space.spaceProducts[j].product.id;
					customproduct.name = spacedata.schemeSpaces[i].space.spaceProducts[j].product.name;
					customproduct.num = spacedata.schemeSpaces[i].space.spaceProducts[j].product_num;
					customproduct.price = spacedata.schemeSpaces[i].space.spaceProducts[j].product.amount;
					customproduct.cover_t_img = spacedata.schemeSpaces[i].space.spaceProducts[j].product.cover_t_imgs;
					customspace.products.push(customproduct);
					customproduct = {
						"id": null,
						"name": null,
						"num": null,
						"price": null,
						"cover_t_img": null
					}
				}
				customscheme.spaces.push(customspace);
				customspace = {
					"id": null,
					"name": null,
					"cover_t_img": null,
					"design_t_img": null,
					"planar_t_img": null,
					"products": []
				}
			}
			localStorage.temp = JSON.stringify(customscheme);
			mui.openWindow({
				url: "edit-schemes.html",
				id: "edit-schemes",
				show: {
					aniShow: 'zoom-fade-out',
					duration: 300
				}
			});
			return;
		}
		document.getElementById('cart').addEventListener('tap', function() {
			mui.openWindow({
				url: "cart.html",
				id: "cart",
				show: {
					aniShow: 'zoom-fade-out',
					duration: 300
				}
			});
			return;
		});
		document.getElementById('intelligent').addEventListener('tap', function() {
			mui.openWindow({
				url: "match.html?layer",
				id: "match",
				show: {
					aniShow: 'zoom-fade-out',
					duration: 300
				}
			});
			return;
		});
		document.getElementById('home').addEventListener('tap', function() {
			mui.openWindow({
				url: "index.html",
				id: "index",
				show: {
					aniShow: 'zoom-fade-out',
					duration: 300
				}
			});
			return;
		});
		mui('body').on('tap', '.productsimgs', function() {
			productid = this.getAttribute('data-id');
			mui.openWindow({
				url: "product.html?id=" + productid,
				id: "product",
				show: {
					aniShow: 'zoom-fade-out',
					duration: 300
				}
			});
			return;
		});
		mui('#potlist').on('tap', 'li', function() {
			scroller(this.innerHTML, 600)
		});
		document.getElementById('catalog').addEventListener('tap', function() {
			catalogOpen();
		});
		document.getElementById('mask').addEventListener('tap', function() {
			catalogClose();
		});

		function catalogOpen() {
			var el = document.getElementById("mask");
			el.style.display = 'block';
			document.getElementById("cataloglist").style.left = '0';
		}

		function catalogClose() {
			var el = document.getElementById("mask");
			el.style.display = 'none';
			document.getElementById("cataloglist").style.left = '-150px';
		}
		var catalog = [];

		function makecatalog() {
			spacenames = document.getElementsByClassName("divtitle spacename");
			for (var i = 0; i < spacenames.length; i++) {
				searchresult = searchKeyWordAndMakeCatalog(spacenames[i].innerHTML);
				if (searchresult)(spacenames[i].innerHTML = searchresult, spacenames[i].id = searchresult, catalog.push(searchresult))
			}
			new Vue({
				el: '#catalogpot',
				data: {
					points: catalog
				},
				compiled: function() {
					document.styleSheets[0].insertRule('#cataloglist ul::before { bottom: ' + (document.getElementById("cataloglist").offsetHeight - 80 - 42 * catalog.length) + 'px;}', 0);
				}
			})
		}

		function searchKeyWordAndMakeCatalog(title) {
			var keyword = [
				["客厅", "客厅"],
				["餐厅", "餐厅"],
				["卧室", "卧室"],
				["书房", "书房"],
				["次卧", "次卧"],
				["老人", "老人房"],
				["男孩", "男孩房"],
				["女孩", "女孩房"]
			];
			var temparray = title.split('');
			var words = [];
			for (var k = 0; k < temparray.length - 1; k++) {
				words.push(temparray[k] + temparray[k + 1])
			}
			for (var j = 0; j < keyword.length; j++) {
				if (~words.indexOf(keyword[j][0])) return keyword[j][1];
			}
			return false;
		}

		function intval(v) {
			v = parseInt(v);
			return isNaN(v) ? 0 : v;
		}

		function getPos(e) {
			var l = 0;
			var t = 0;
			var w = intval(e.style.width);
			var h = intval(e.style.height);
			var wb = e.offsetWidth;
			var hb = e.offsetHeight;
			while (e.offsetParent) {
				l += e.offsetLeft + (e.currentStyle ? intval(e.currentStyle.borderLeftWidth) : 0);
				t += e.offsetTop + (e.currentStyle ? intval(e.currentStyle.borderTopWidth) : 0);
				e = e.offsetParent;
			}
			l += e.offsetLeft + (e.currentStyle ? intval(e.currentStyle.borderLeftWidth) : 0);
			t += e.offsetTop + (e.currentStyle ? intval(e.currentStyle.borderTopWidth) : 0);
			return {
				x: l,
				y: t - topbarHeight,
				w: w,
				h: h,
				wb: wb,
				hb: hb
			};
		}

		function getScroll() {
			var t, l, w, h;
			if (document.documentElement && document.documentElement.scrollTop) {
				t = document.documentElement.scrollTop;
				l = document.documentElement.scrollLeft;
				w = document.documentElement.scrollWidth;
				h = document.documentElement.scrollHeight;
			} else if (document.body) {
				t = document.body.scrollTop;
				l = document.body.scrollLeft;
				w = document.body.scrollWidth;
				h = document.body.scrollHeight;
			}
			return {
				t: t,
				l: l,
				w: w,
				h: h
			};
		}

		function scroller(el, duration) {
			catalogClose();
			if (typeof el != 'object') {
				el = document.getElementById(el);
			}
			if (!el) return;
			var z = this;
			z.el = el;
			z.p = getPos(el);
			z.s = getScroll();
			z.clear = function() {
				window.clearInterval(z.timer);
				z.timer = null
			};
			z.t = (new Date).getTime();
			z.step = function() {
				var t = (new Date).getTime();
				var p = (t - z.t) / duration;
				if (t >= duration + z.t) {
					z.clear();
					window.setTimeout(function() {
						z.scroll(z.p.y, z.p.x)
					}, 13);
				} else {
					st = ((-Math.cos(p * Math.PI) / 2) + 0.5) * (z.p.y - z.s.t) + z.s.t;
					sl = ((-Math.cos(p * Math.PI) / 2) + 0.5) * (z.p.x - z.s.l) + z.s.l;
					z.scroll(st, sl);
				}
			};
			z.scroll = function(t, l) {
				window.scrollTo(l, t)
			};
			z.timer = window.setInterval(function() {
				z.step();
			}, 13);
		}
	</script>

</html>