<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
		<meta name="format-detection" content="telephone=no">
		<meta content="email=no" name="format-detection" />
		<link rel="stylesheet" href="css/mui.min.css" />
		<link rel="stylesheet" href="css/app.css" />
		<link rel="stylesheet" href="css/match.css" />
		<title>微软装</title>
	</head>

	<body>
		<div id="load">
			<div class="loading"></div>
			<div class="loading-text"><img src="images/load.gif" width="25px">加载中，请稍候...</div>
		</div>
		<div class="mui-content">
			<div class="title2">
				<p>请选择添加的空间的</p>装修风格</div>
			<div class="style-list">
				<div class="circle grid-1"><span>现代</span></div>
				<div class="circle grid-2"><span>地中海</span></div>
				<div class="circle grid-3"><span>欧式</span></div>
				<div class="circle grid-4"><span>中式</span></div>
				<div class="circle grid-5"><span>田园</span></div>
				<div class="circle grid-6"><span>美式</span></div>
				<div class="circle grid-7"><span>新古典</span></div>
			</div>
			<div class="title2">
				空间类型</div>
			<div class="tagselect colorselect" id="tag-list">
				<span class="tag" v-for="tag in tags" id="{{tag.id}}">{{tag.name}}</span>
			</div>

			<div class="title2">
				装修颜色</div>
			<div class="colorselect" id="colorlist">
				<span class="color" v-for="color in colors" id="{{color.id}}" data="{{color.color_value}}">{{color.name}}</span>
			</div>

			<div id="next-step">按照所选条件搜索空间></div>
		</div>

	</body>
	<script src="js/app.js"></script>
	<script src="js/global.js"></script>
	<script src="js/mui.min.js"></script>
	<script src="js/vue.js"></script>
	<script>
		"use strict";
		var stylelist = [{
			"name": "现代",
			"id": 17
		}, {
			"name": "地中海",
			"id": 23
		}, {
			"name": "欧式",
			"id": 18
		}, {
			"name": "中式",
			"id": 19
		}, {
			"name": "田园",
			"id": 20
		}, {
			"name": "美式",
			"id": 22
		}, {
			"name": "新古典",
			"id": 23
		}];
		var colorselect = [];
		var colorselectid = [];
		var stylename;
		var styleid;
		var spacetypeid;
		var spacetypename;
		mui.ready(function() {
			mui.ajax(apiurl + 'tags/multi-children?name=空间类型', {
				dataType: 'json',
				type: 'get',
				timeout: 6000,
				success: function(data) {
					if (data.success == true) {
						new Vue({
							el: '#tag-list',
							data: {
								"tags": data.data.items[0].children
							}
						});
						stopload();
					} else {
						mui.alert("获取标签失败，请稍候再试");
						stopload();
					}
				},
				error: function(xhr, textStatus, errorThrown) {
					mui.alert("网络连接失败，请稍候再试");
					stopload();
				}
			});
			mui.ajax(apiurl + 'tags/multi-children?name=装修色彩', {
				dataType: 'json',
				type: 'get',
				timeout: 6000,
				success: function(data) {
					if (data.success == true) {
						new Vue({
							el: '#colorlist',
							data: {
								'colors': data.data.items[0].children
							},
							compiled: function() {
								stopload();
							}
						});
						changecolor();
					} else {
						mui.alert("获取标签失败，请稍候再试");
						stopload();
					}
				},
				error: function(xhr, textStatus, errorThrown) {
					mui.alert("网络连接失败，请稍候再试");
					stopload();
				}
			});
		})
		mui('.style-list').on('tap', '.circle', function() {
			selectstyle(this);
			return;
		});
		mui('#colorlist').on('tap', '.color', function() {
			selectcolor(this);
			return;
		});
		document.getElementById('next-step').addEventListener('tap', function() {
			!stylename ? mui.alert('请选择风格', '微软装') : !spacetypeid ? mui.alert('请选择空间类型', '微软装') :!colorselect.length?mui.alert('请选择颜色', '微软装'): next();
		});
		mui('body').on('tap', '.tag', function() {
			selectatag(this.getAttribute('id'), this);
			return;
		});

		function selectatag(e, f) {
			let thistagtype = f.parentNode;
			spacetypeid = e;
			spacetypename = f.innerHTML;
			for (var i = 0; i < thistagtype.getElementsByClassName("tag").length; i++) {
				thistagtype.getElementsByClassName("tag")[i].style.backgroundColor = "#fff";
				thistagtype.getElementsByClassName("tag")[i].style.color = '#000';
			}
			f.style.color = '#fff';
			f.style.backgroundColor = "red";
		}

		function selectstyle(e) {
			let arrobjBorthers = e.parentNode.getElementsByClassName("circle");
			for (let i = 0; i < arrobjBorthers.length; i++) {
				arrobjBorthers[i].getElementsByTagName("span")[0].style.backgroundColor = 'rgba(255,255,255,0.6)'
			}
			e.getElementsByTagName("span")[0].style.backgroundColor = 'rgba(255,255,255,0)'
			let nSortId = e.className.split("grid-")[1] - 1;
			stylename = stylelist[nSortId].name;
			styleid = stylelist[nSortId].id;
		}

		function selectcolor(e) {
			!e.style.border ? (e.style.border = '2px solid#0000EE', colorselect.push(e.innerHTML), colorselectid.push(e.id)) : (e.style.border = '', colorselect.removetheitem(e.innerHTML), colorselectid.removetheitem(e.id))
		}

		function changecolor() {
			let arrobjColor = document.getElementsByClassName("color");
			for (let i = 0; i < arrobjColor.length; i++) {
				arrobjColor[i].style.backgroundColor = arrobjColor[i].getAttribute('data');
			}
		}

		function next() {
			const colorchildren = [];
			const filter = [];
			filter.push({
				"id": 10,
				"name": "装修风格",
				"children": {
					"id": styleid,
					"name": stylename
				}
			});
			filter.push({
				"id": 48,
				"name": "空间类型",
				"children": {
					"id": spacetypeid,
					"name": spacetypename
				}
			});
			for (let i = 0; i < colorselect.length; i++) {
				colorchildren.push({
					"id": colorselectid[i],
					"name": colorselect[i]
				});
			}
			filter.push({
				"id": 11,
				"name": "装修色彩",
				"children": colorchildren
			});
			mui.ajax(apiurl + 'spaces/space-list?tags=' + JSON.stringify(filter), {
				dataType: 'json',
				type: 'get',
				timeout: 6000,
				success: function(data) {
					if (data.success == true) {
						localStorage.tempspaces = JSON.stringify(data.data);
						mui.openWindow({
							url: "spacelist.html",
							id: "spacelist"
						});
					} else {
						mui.alert("获取标签失败，请稍候再试");
						stopload();
					}
				},
				error: function(xhr, textStatus, errorThrown) {
					mui.alert("网络连接失败，请稍候再试");
					stopload();
				}
			});
		}
	</script>

</html>