<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
		<meta name="format-detection" content="telephone=no">
		<meta content="email=no" name="format-detection" />
		<link rel="stylesheet" href="css/mui.css" />
		<link rel="stylesheet" href="css/app.css" />
		<link rel="stylesheet" href="css/match.css" />

		<title>微软装</title>
	</head>

	<body onresize="javascript:adaptive();">
		<div id="load">
			<div class="loading"></div>
			<div class="loading-text"><img src="images/load.gif" width="25px">加载中，请稍候...</div>
		</div>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<a class="icon-left-nav mui-icon mui-pull-right skip" href="matching.html">跳过></a> </header>
		<div class="mui-content">
			<div class="title">你对什么感兴趣？</div>

			<div id="tag-list">
				<div class="tagtype" v-for="tagtype in tags">
					<div class="tag-name">{{tagtype.p_tag_name}}</div>
					<div class="tags"><span class="sortid">{{$index}}</span>
						<span class="tag" v-for="tag in tagtype.tags" data-id="{{tag.tag_id}}">{{tag.tag_name}}</span>
					</div>
				</div>
			</div>
			<div id="next-step" onclick="location.href='matching.html'">开启软装之旅！</div>
		</div>
	</body>
	<script src="js/global.js"></script>
	<script src="js/mui.js"></script>
	<script src="js/vue.js"></script>
	<script>
		"use strict";
		localStorage.tag = JSON.stringify({
			"Total": 3,
			"tags": [{
				"p_tag_id": 1,
				"p_tag_name": "书影音",
				"tags": [{
					"tag_id": 1,
					"tag_name": "影视"
				}, {
					"tag_id": 2,
					"tag_name": "阅读"
				}, {
					"tag_id": 3,
					"tag_name": "音乐"
				}]
			}, {
				"p_tag_id": 2,
				"p_tag_name": "生活",
				"tags": [{
					"tag_id": 1,
					"tag_name": "旅行"
				}, {
					"tag_id": 2,
					"tag_name": "居家"
				}, {
					"tag_id": 3,
					"tag_name": "美食"
				}, {
					"tag_id": 4,
					"tag_name": "手作"
				}, {
					"tag_id": 5,
					"tag_name": "运动健身"
				}, {
					"tag_id": 6,
					"tag_name": "时尚"
				}, {
					"tag_id": 7,
					"tag_name": "饮茶"
				}]
			}, {
				"p_tag_id": 3,
				"p_tag_name": "看世界",
				"tags": [{
					"tag_id": 1,
					"tag_name": "社交"
				}, {
					"tag_id": 2,
					"tag_name": "教育"
				}, {
					"tag_id": 3,
					"tag_name": "科技"
				}, {
					"tag_id": 4,
					"tag_name": "人文"
				}]
			}]
		});
		var arrobjTagType;
		var jsonTagList = JSON.parse(localStorage.tag);
		const colorset = [];
		mui.ready(function() {
			new Vue({
				el: '#tag-list',
				data: jsonTagList,
				compiled: function() {
					stopload();
				}
			});
			arrobjTagType = document.getElementsByClassName("tagtype");
			adaptive();
			changecolor();
		});

		function adaptive() {
			let arrobjTag = document.getElementsByClassName("tags");
			for (let i = 0; i < arrobjTagType.length; i++) {
				document.getElementsByClassName("tag-name")[i].style.top = arrobjTag[i].offsetHeight / 2 - 15 + 'px';
				arrobjTagType[i].style.height = arrobjTag[i].offsetHeight + 'px';
			}
		}

		function changecolor() {
			for (let i = 0; i < jsonTagList.Total; i++) {
				colorset.push(colorpallte[Math.floor(Math.random() * colorpallte.length)]);
				arrobjTagType[i].style.color = colorset[i]
				let arrobjTag = arrobjTagType[i].getElementsByClassName("tag");
				for (let j = 0; j < arrobjTag.length; j++) {
					arrobjTag[j].style.border = '1px solid' + colorset[i];
				}
			}
		}

		function selectatag(e, f) {
			let nSortId = f.parentNode.getElementsByClassName("sortid")[0].innerHTML;
			!(f.style.color == 'rgb(255, 255, 255)') ? (f.style.color = '#fff', f.style.backgroundColor = colorset[nSortId]) : (f.style.color = colorset[nSortId], f.style.backgroundColor = '#fff')
		}
		mui('#tag-list').on('tap', '.tag', function() {
			selectatag(this.getAttribute('data-id'), this);
			return;
		});
	</script>

</html>