<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
		<meta name="format-detection" content="telephone=no">
		<meta content="email=no" name="format-detection" />
		<link rel="stylesheet" href="css/mui.css" />
		<link rel="stylesheet" href="css/app.css" />
		<link rel="stylesheet" href="css/match.css" />
		<title>微软装</title>
	</head>

	<body>
		<div id="load">
			<div class="loading"></div>
			<div class="loading-text"><img src="images/load.gif" width="25px">加载中，请稍候...</div>
		</div>
		<div class="mui-content" style="padding-top: 0!important">
			<div class="title2">装修风格</div>
			<div class="focus_Box" id="styles">
				<span class="prev">&nbsp;</span>
				<span class="next">&nbsp;</span>
				<ul>
					<li v-for="style in children" data-id="{{$index}}">
						<a href="#"><img width="340" height="400" v-bind:src="style.img" /></a>
					</li>
				</ul>
			</div>
			<div class="style-indicator" id="indicator">
				<i id="indicator-{{$index}}" v-for="indicator in children">{{indicator.name}}</i>
			</div>
			<div class="title2">
				装修颜色</div>
			<div class="colorselect" id="colorlist">
				<span class="color" v-for="color in colors" id="{{color.id}}" data="{{color.color_value}}">{{color.name}}</span>
			</div>

			<div id="next-step">选好了，下一步</div>
		</div>

	</body>
	<script src="js/app.js"></script>
	<script src="js/global.js"></script>
	<script src="js/mui.js"></script>
	<script src="js/vue.js"></script>
	<script src="js/ZoomPic.js"></script>
	<script>
		"use strict";
		var JSONtest = {
			"children": [{
				"name": "现代",
				"id": 17,
				"img": "images/selectimg/现代.png"
			}, {
				"name": "东方",
				"id": 19,
				"img": "images/selectimg/东方.png"
			}, {
				"name": "欧式",
				"id": 18,
				"img": "images/selectimg/欧式.png"
			}]
		};
		var colorselect = [];
		var colorselectid = [];
		var stylename;
		var stylename;
		var styleid;
		var styleid;
		mui.ready(function() {

			mui.ajax(apiurl + 'tags/multi-children?name=装修风格', {
				dataType: 'json',
				type: 'get',
				timeout: 6000,
				success: function(data) {
					if (data.success == true) {
						new Vue({
							el: '#styles',
							data: JSONtest,
							compiled: function() {
								let h_w = 1.179;
								let zoom_k = 0.9;
								let items_w = document.body.offsetWidth - 48;
								let item_w = items_w * 0.49;
								let item_h = item_w * h_w;
								document.getElementById("styles").style.width = items_w + "px";
								document.getElementById("styles").style.height = item_h + "px";
								let option = [{
									width: parseInt(item_w * Math.pow(zoom_k, 2)),
									height: parseInt(item_h * Math.pow(zoom_k, 2)),
									top: 20,
									left: 0,
									zIndex: 1
								}, {
									width: parseInt(item_w),
									height: parseInt(item_h),
									top: 0,
									left: parseInt(0.127 * items_w * 2),
									zIndex: 2
								}, {
									width: parseInt(item_w * zoom_k * zoom_k),
									height: parseInt(item_h * Math.pow(zoom_k, 2)),
									top: 20,
									left: parseInt(items_w - item_w * Math.pow(zoom_k, 2)),
									zIndex: 1
								}]
								new ZoomPic("styles", option);
								new Vue({
									el: '#indicator',
									data: JSONtest,
									compiled: function() {
										let items_w = document.body.offsetWidth - 30;
										document.getElementById("indicator").style.width = items_w;
										let item = document.getElementsByTagName("i");
										for (let i = 0; i < item.length; i++) {
											item[i].style.width = Math.floor(items_w / item.length) + "px";
										}

										mui.ajax(apiurl + 'tags/multi-children?name=装修色彩', {
											dataType: 'json',
											type: 'get',
											timeout: 6000,
											success: function(data) {
												if (data.success == true) {
													new Vue({
														el: '#colorlist',
														data: {
															'colors': data.data.items[0].children
														},
														compiled: function() {
															let items_w = document.body.offsetWidth - 8;
															let item = document.getElementsByClassName("color");
															for (let i = 0; i < item.length; i++) {
																item[i].style.width = (items_w - (item.length + 2) * 6) / item.length + "px";
																item[i].style.height = (items_w - (item.length + 2) * 6) / item.length + "px";
															}
														}
													});
													changecolor();
													stopload();
												} else {
													mui.alert("获取标签失败，请稍候再试");
												}
											},
											error: function(xhr, textStatus, errorThrown) {
												mui.alert("网络连接失败，请稍候再试");
											}
										});

									}
								});

							}
						});

					} else {
						mui.alert("获取标签失败，请稍候再试");
					}
				},
				error: function(xhr, textStatus, errorThrown) {
					mui.alert("网络连接失败，请稍候再试");
				}
			});
		})

		var next = document.getElementsByClassName("next")[0];
		var prev = document.getElementsByClassName("prev")[0];
		/**
		 * 
		 * 禁止微信原生上下滚动
		 */
		var overscroll = function(el) {
			el.addEventListener('touchstart', function() {
				var top = el.scrollTop,
					totalScroll = el.scrollHeight,
					currentScroll = top + el.offsetHeight;
				if (top === 0) {
					el.scrollTop = 1;
				} else if (currentScroll === totalScroll) {
					el.scrollTop = top - 1;
				}
			});
			el.addEventListener('touchmove', function(evt) {
				if (el.offsetHeight < el.scrollHeight)
					evt._isScroller = true;
			});
		}
		overscroll(document.querySelector('#styles'));
		document.body.addEventListener('touchmove', function(evt) {
			if (!evt._isScroller) {
				evt.preventDefault();
			}
		});

		document.getElementById("styles").addEventListener("swipeleft", function() {
			mui.trigger(next, 'click');
		});
		document.getElementById("styles").addEventListener("swiperight", function() {
			mui.trigger(prev, 'click');
		});

		mui('#colorlist').on('tap', '.color', function() {
			selectcolor(this);
			return;
		});
		document.getElementById('next-step').addEventListener('tap', function() {
			!stylename ? mui.alert('请选择风格', '微软装') : !colorselect.length ? mui.alert('请选择颜色', '微软装') : nextstep();
		});

		function selectcolor(e) {
			!e.style.boxShadow ? (e.style.boxShadow = '1px 1px 5px #444', colorselect.push(e.innerHTML), colorselectid.push(e.id)) : (e.style.boxShadow = '', colorselect.removetheitem(e.innerHTML), colorselectid.removetheitem(e.id))
		}

		function changecolor() {
			let arrobjColor = document.getElementsByClassName("color");
			for (let i = 0; i < arrobjColor.length; i++) {
				arrobjColor[i].style.backgroundColor = arrobjColor[i].getAttribute('data');
				arrobjColor[i].style.color = arrobjColor[i].getAttribute('data');
			}
		}

		function nextstep() {
			const colorchildren = [];
			const IC = JSON.parse(localStorage.IC);
			IC.push({
				"id": 10,
				"name": "装修风格",
				"children": {
					"id": styleid,
					"name": stylename
				}
			});
			for (let i = 0; i < colorselect.length; i++) {
				colorchildren.push({
					"id": colorselectid[i],
					"name": colorselect[i]
				});
			}
			IC.push({
				"id": 11,
				"name": "装修色彩",
				"children": colorchildren
			});
			localStorage.IC = JSON.stringify(IC);
			mui.openWindow({
				url: "match-step3.html",
				id: "match-step3"
			});
		}

		function SingleSelection() {
			let nSelectedSortId = document.getElementById("styles").getElementsByTagName("li")[1].getAttribute('data-id');
			for (let j = 0; j < JSONtest.children.length; j++) {
				document.getElementById("indicator-" + j).style.backgroundColor = "#fff";
			}
			document.getElementById("indicator-" + nSelectedSortId).style.backgroundColor = "#6ecce8";
			styleid = JSONtest.children[nSelectedSortId].id;
			stylename = JSONtest.children[nSelectedSortId].name;
		}
	</script>

</html>