<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
		<meta name="format-detection" content="telephone=no">
		<meta content="email=no" name="format-detection" />
		<meta http-equiv="pragma" content="no-cache">
		<meta http-equiv="Cache-Control" content="no-cache, must-revalidate">
		<meta http-equiv="expires" content="Wed, 26 Feb 1997 08:21:57 GMT">
		<link rel="stylesheet" href="css/mui.css" />
		<link rel="stylesheet" href="css/app.css" />
		<link rel="stylesheet" href="css/order.css" />
		<script src="js/iflogin.js?url=myorder.html"></script>
	</head>

	<body>
		<div id="load">
			<div class="loading"></div>
			<div class="loading-text"><img src="images/load.gif" width="25px">加载中，请稍候...</div>
		</div>
		<header class="mui-bar mui-bar-nav">
			<h1 class="mui-title">我的订单</h1>
		</header>

		<div class="mui-content" style="display: none;">
			<div>
				<div id="segmentedControl" class="mui-segmented-control">
					<a id="order1" class="mui-control-item" href="#item1">
				全部
			</a>
					<a id="order2" class="mui-control-item" href="#item2">
				待付款
			</a>
					<a id="order3" class="mui-control-item" href="#item3">
				待配送
			</a>
					<a id="order4" class="mui-control-item" href="#item4">
				待评价
			</a>
				</div>
			</div>
			<div>
				<div id="item1" class="mui-control-content">
					<div class="mui-scroll">
						<ul class="mui-table-view" id="allorder" v-for="orders in orders|filtersBy '[1,2,3,4,5]' 'orderstate'">
							<div>
								<div class="blank"></div>
								<li class="mui-table-view-cell" onclick="orderinfo({{orders.order_id}},{{ orders.orderstate }})">
									<div class="order-state">{{ orders.orderstate }}</div>
									<div class="order_id" style="display: none;">{{orders.order_id}}</div>
									<div class="orderid">订单号:<span>{{ orders.orderid }}</span></div>
									<div class="ordertime">下单日期:<span>{{ orders.ordertime }}</span></div>
									<div class="orderstate">订单状态:<span class="state">{{ orders.orderstate }}</span></div>
									<div class="iteminner">
										<div class="items">
											<div class="lineimg" v-for="scheme in orders.schemes">
												<div class="scheme-item"><img v-bind:src="scheme.img_src"></div>
											</div>
											<div class="lineimg" v-for="good in orders.goods">
												<div class="item"><img v-bind:src="good.img_src"></div>
											</div>
										</div>
									</div>
									<div class="note">共<span class="num">{{ orders.goods.length}}</span>件商品，合计<span class="price">{{ orders.price  | currency '￥'}}</span>（含运费：<span class="sendprice">{{ orders.sendprice | currency '￥'}}</span>）</div>
								</li>

							</div>
						</ul>
					</div>

				</div>
				<div id="item2" class="mui-control-content">
					<div class="mui-scroll">
						<ul class="mui-table-view" id="obligations" v-for="orders in orders | filterBy '2' in 'orderstate'">
							<div>
								<div class="blank"></div>
								<li class="mui-table-view-cell" onclick="orderinfo({{orders.order_id}},{{ orders.orderstate }})">
									<div class="order-state">{{ orders.orderstate }}</div>
									<div class="order_id" style="display: none;">{{orders.order_id}}</div>
									<div class="orderid">订单号:<span>{{ orders.orderid }}</span></div>
									<div class="ordertime">下单日期:<span>{{ orders.ordertime }}</span></div>
									<div class="orderstate">订单状态:<span class="state">{{ orders.orderstate }}</span></div>
									<div class="iteminner">
										<div class="items">
											<div class="lineimg" v-for="scheme in orders.schemes">
												<div class="scheme-item"><img v-bind:src="scheme.img_src"></div>
											</div>
											<div class="lineimg" v-for="good in orders.goods">
												<div class="item"><img v-bind:src="good.img_src"></div>
											</div>
										</div>
									</div>
									<div class="note">共<span class="num">{{ orders.goods.length}}</span>件商品，合计<span class="price">{{ orders.price  | currency '￥'}}</span>（含运费：<span class="sendprice">{{ orders.sendprice | currency '￥'}}</span>）</div>
								</li>

							</div>
						</ul>
					</div>
				</div>

				<div id="item3" class="mui-control-content">
					<div class="mui-scroll">
						<ul class="mui-table-view" id="distribution" v-for="orders in orders|filtersBy '[3,4]' 'orderstate'">
							<div>
								<div class="blank"></div>
								<li class="mui-table-view-cell" onclick="orderinfo({{orders.order_id}},{{ orders.orderstate }})">
									<div class="order-state">{{ orders.orderstate }}</div>
									<div class="order_id" style="display: none;">{{orders.order_id}}</div>
									<div class="orderid">订单号:<span>{{ orders.orderid }}</span></div>
									<div class="ordertime">下单日期:<span>{{ orders.ordertime }}</span></div>
									<div class="orderstate">订单状态:<span class="state">{{ orders.orderstate }}</span></div>
									<div class="iteminner">
										<div class="items">
											<div class="lineimg" v-for="scheme in orders.schemes">
												<div class="scheme-item"><img v-bind:src="scheme.img_src"></div>
											</div>
											<div class="lineimg" v-for="good in orders.goods">
												<div class="item"><img v-bind:src="good.img_src"></div>
											</div>
										</div>
									</div>
									<div class="note">共<span class="num">{{ orders.goods.length}}</span>件商品，合计<span class="price">{{ orders.price  | currency '￥'}}</span>（含运费：<span class="sendprice">{{ orders.sendprice | currency '￥'}}</span>）</div>
								</li>

							</div>
						</ul>
					</div>
				</div>
				<div id="item4" class="mui-control-content">
					<div class="mui-scroll">
						<ul class="mui-table-view" id="evaluate" v-for="orders in orders | filterBy '5' in 'orderstate'">
							<div>
								<div class="blank"></div>
								<li class="mui-table-view-cell" onclick="orderinfo({{orders.order_id}},{{ orders.orderstate }})">
									<div class="order-state">{{ orders.orderstate }}</div>
									<div class="order_id" style="display: none;">{{orders.order_id}}</div>
									<div class="orderid">订单号:<span>{{ orders.orderid }}</span></div>
									<div class="ordertime">下单日期:<span>{{ orders.ordertime }}</span></div>
									<div class="orderstate">订单状态:<span class="state">{{ orders.orderstate }}</span></div>
									<div class="iteminner">
										<div class="items">
											<div class="lineimg" v-for="scheme in orders.schemes">
												<div class="scheme-item"><img v-bind:src="scheme.img_src"></div>
											</div>
											<div class="lineimg" v-for="good in orders.goods">
												<div class="item"><img v-bind:src="good.img_src"></div>
											</div>
										</div>
									</div>
									<div class="note">共<span class="num">{{ orders.goods.length}}</span>件商品，合计<span class="price">{{ orders.price  | currency '￥'}}</span>（含运费：<span class="sendprice">{{ orders.sendprice | currency '￥'}}</span>）</div>
								</li>

							</div>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script src="js/vue.js"></script>
	<script src="js/app.js"></script>

	<script src="js/global.js"></script>
	<script src="js/mui.js"></script>
	<script>
		"use strict";
		var jsonOrder = {
			"orders": []
		};
		var url = window.location.search;
		var loc = url.substring(url.lastIndexOf('=') + 1, url.length);
		if (loc == null || loc == "") {
			window.location.href = url + "?type=1"
		}
		startload()
		mui.ready(function() {
			var nOrderPadId = 'order' + GetQueryString();
			var nItemPadId = 'item' + GetQueryString();
			document.getElementById(nOrderPadId).className = "mui-control-item mui-active";
			document.getElementById(nItemPadId).className = "mui-control-content mui-active";
			mui.ajax(apiurl + 'orders?access-token=' + strAccessToken + '&filter=user_id:' + nUserId + '&expand=orderSchemes.scheme,orderProducts.product', {
				data: {
					'per-page': 500000
				},
				dataType: 'json',
				type: 'get',
				timeout: 6000,
				success: function(data) {
					if (data.success == true) {
						source = data.data.items;
						for (i = 0; i < source.length; i++) {
							jsonOrderItem = {
								"order_id": null,
								"orderid": null,
								"orderstate": null,
								"ordertime": null,
								"price": null,
								"sendprice": null,
								"address": null,
								"goods": [],
								"schemes": []
							};
							jsonOrder.orders.push(jsonOrderItem);
							for (j = 0; j < source[i].orderProducts.length; j++) {
								jsonGoodItem = {
									"id": null,
									"name": null,
									"price": null,
									"num": null,
									"img_src": null
								}
								jsonOrder.orders[i].goods.push(jsonGoodItem);
							}
							for (j = 0; j < source[i].orderSchemes.length; j++) {
								jsonSchemeItem = {
									"id": null,
									"name": null,
									"price": null,
									"num": null,
									"img_src": null
								}
								jsonOrder.orders[i].schemes.push(jsonSchemeItem);
							}
						}
						for (i = 0; i < source.length; i++) {
							jsonOrder.orders[i].order_id = source[i].id;
							jsonOrder.orders[i].orderid = source[i].order_no;
							jsonOrder.orders[i].orderstate = source[i].status;
							jsonOrder.orders[i].ordertime = getDate(source[i].created_at);
							jsonOrder.orders[i].price = source[i].amount / 100;
							jsonOrder.orders[i].sendprice = source[i].freight;
							jsonOrder.orders[i].address = source[i].delivery_address_id;
							for (j = 0; j < source[i].orderProducts.length; j++) {
								jsonOrder.orders[i].goods[j].id = source[i].orderProducts[j].product_id;
								jsonOrder.orders[i].goods[j].name = source[i].orderProducts[j].product_name;
								jsonOrder.orders[i].goods[j].price = source[i].orderProducts[j].product_price;
								jsonOrder.orders[i].goods[j].num = source[i].orderProducts[j].purchase_num;
								!source[i].orderProducts[j].product.cover_t_imgs ? jsonOrder.orders[i].goods[j].img_src = null : jsonOrder.orders[i].goods[j].img_src = serverurl + "/smart_matching/uploads/imgs/" + source[i].orderProducts[j].product.cover_t_imgs;
							}
							for (j = 0; j < source[i].orderSchemes.length; j++) {
								jsonOrder.orders[i].schemes[j].id = source[i].orderSchemes[j].scheme_id;
								jsonOrder.orders[i].schemes[j].name = source[i].orderSchemes[j].scheme_name;
								jsonOrder.orders[i].schemes[j].price = source[i].orderSchemes[j].scheme_price;
								jsonOrder.orders[i].schemes[j].num = source[i].orderSchemes[j].purchase_num;
								!source[i].orderSchemes[j].scheme.cover_t_img ? jsonOrder.orders[i].schemes[j].img_src = null : jsonOrder.orders[i].schemes[j].img_src = serverurl + "/smart_matching/uploads/imgs/" + source[i].orderSchemes[j].scheme.cover_t_img;
							}
						}
						localStorage.order = JSON.stringify(jsonOrder);
						allorder = new Vue({
							el: '#allorder',
							data: jsonOrder
						});
						obligations = new Vue({
							el: '#obligations',
							data: jsonOrder
						});
						distribution = new Vue({
							el: '#distribution ',
							data: jsonOrder
						});
						evaluate = new Vue({
							el: '#evaluate',
							data: jsonOrder
						});
						updatastate();
						document.getElementsByClassName("mui-content")[0].style.display = "block";
						stopload();
					} else {
						mui.alert("获取地址列表失败，请稍候再试");
						stopload();
					}
				},
				error: function(xhr, textStatus, errorThrown) {
					stopload();
				}
			});
		})

		function GetQueryString() {
			var reg = new RegExp("(^|&)type=([^&]*)(&|$)", "i");
			var r = window.location.search.substr(1).match(reg);
			var context = "";
			if (r != null)
				context = r[2];
			reg = null;
			r = null;
			return context == null || context == "" || context == "undefined" ? "" : context;
		}

		function updatastate() {
			var elem = document.getElementsByClassName("state");
			for (let i = 0; i < elem.length; i++) {
				switch (elem[i].innerHTML) {
					case "1":
						elem[i].innerHTML = "待确认";
						var objDiv = document.createElement('div');
						objDiv.innerHTML = '<div class="btn-area"><div class="cancel btn" onclick="cancelorder(this)">取消订单</div><div class="pay btn active" onclick="clicksub(this)">确认付款</div></div>';
						elem[i].parentNode.parentNode.parentNode.appendChild(objDiv);
						break;
					case "2":
						elem[i].innerHTML = "待付款";
						var objDiv = document.createElement('div');
						objDiv.innerHTML = '<div class="btn-area"><div class="cancel btn" onclick="cancelorder(this)">取消订单</div><div class="pay btn active" onclick="clicksub(this)">确认付款</div></div>';
						elem[i].parentNode.parentNode.parentNode.appendChild(objDiv);
						break;
					case "3":
						elem[i].innerHTML = "待配送";
						var objDiv = document.createElement('div');
						elem[i].parentNode.parentNode.parentNode.appendChild(objDiv);
						break;
					case "4":
						elem[i].innerHTML = "待配送";
						var objDiv = document.createElement('div');
						elem[i].parentNode.parentNode.parentNode.appendChild(objDiv);
						break;
					case "5":
						elem[i].innerHTML = "待评价";
						var objDiv = document.createElement('div');
						objDiv.innerHTML = '<div class="btn-area"><div class="pay btn active">评价</div></div>';
						elem[i].parentNode.parentNode.parentNode.appendChild(objDiv);
						break;
				}
			}
		}

		function orderinfo(e, f) {
			startload()
			mui.ajax(apiurl + 'orders/' + e + '?access-token=' + strAccessToken, {
				dataType: 'json',
				type: 'get',
				timeout: 6000,
				success: function(data) {
					if (data.success == true) {
						localStorage.temporder = JSON.stringify(data.data);
						switch (f.toString()) {
							case "1":
								window.location.href = "orderinfo-calculated.html?orderid=" + e;
								break;
							case "2":
								window.location.href = "orderinfo-waitforpay.html?orderid=" + e;
								break;
							case "3":
								window.location.href = "orderinfo.html?orderid=" + e;
								break;
							default:
								window.location.href = "orderinfo.html?orderid=" + e;
								break;
						}
					}
				},
				error: function(xhr, type, errorThrown, message) {
					mui.alert("网络连接失败，请稍候再试");
					stopload();
				}
			});
		}

		function cancelorder(d) {
			thisid = d.parentElement.parentElement.parentElement.getElementsByClassName("order_id")[0].innerHTML;
			var btnArray = ['是', '否'];
			mui.confirm('确认取消此订单吗？', '微软装', btnArray, function(e) {
				if (e.index == 1) {
					return false;
				} else {
					startload()
					mui.ajax(apiurl + 'orders/' + thisid + '?access-token=' + strAccessToken, {
						dataType: 'json',
						type: 'delete',
						timeout: 6000,
						success: function(data) {
							if (data.status == 204) {
								alert("订单已删除！")
								window.location.href = 'myorder.html'
							} else {
								mui.alert("订单删除失败");
								stopload();
							}
						},
						error: function(xhr, type, errorThrown, message) {
							//mui.alert("网络连接失败，请稍候再试");
							stopload();
						}
					});
				}
			})
		}

		function clicksub(e) {
			s = e.parentNode.parentNode.parentNode.getElementsByTagName("li")[0];
			mui.trigger(s, 'click');
		}
	</script>

</html>